<a href="https://colab.research.google.com/github/DileepNalle78/pyspark__DileepNalle/blob/main/sales.csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LINUX BASIC

In [ ]:
cat /etc/os-release

PRETTY_NAME="Ubuntu 22.04.4 LTS"
NAME="Ubuntu"
VERSION_ID="22.04"
VERSION="22.04.4 LTS (Jammy Jellyfish)"
VERSION_CODENAME=jammy
ID=ubuntu
ID_LIKE=debian
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy"
UBUNTU_CODENAME=jammy

In [ ]:
!uname -a

Linux 6d3647f0c437 6.1.123+ #1 SMP PREEMPT_DYNAMIC Sun Mar 30 16:01:29 UTC 2025 x86_64 x86_64 x86_64 GNU/Linux

In [ ]:
!whoami

root

In [ ]:
!pwd

/content

## PySpark Basics

In [ ]:
! pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
!pip show pyspark

Name: pyspark
Version: 3.5.1
Summary: Apache Spark Python API
Home-page: https://github.com/apache/spark/tree/master/python
Author: Spark Developers
Author-email: dev@spark.apache.org
License: http://www.apache.org/licenses/LICENSE-2.0
Location: /usr/local/lib/python3.11/dist-packages
Requires: py4j
Required-by: dataproc-spark-connect

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [ ]:
# create DataFrame
data = [("HEllo","world")]
columns = ["world1","world2"]

df = spark.createDataFrame

In [ ]:
df = spark

data frame

In [ ]:
columns = ["Name","Department","Salary"]
data = [
    ("John", "Sales", 3000),
    ("Jane", "Finance", 4000),
    ("Mike", "Sales", 3500),
    ("Alice", "Finance", 3800),
    ("Bob", "IT", 4500)
]

df=spark.createDataFrame(data, columns)
df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [ ]:
# Filter: employees with salary > 3500
df_filtered = df.filter(df.Salary > 3500)
df_filtered.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| Jane|   Finance|  4000|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [ ]:
df_grouped = df.groupBy("Department").avg("salary")
df_grouped.show()

+----------+-----------+
|Department|avg(salary)|
+----------+-----------+
|     Sales|     3250.0|
|   Finance|     3900.0|
|        IT|     4500.0|
+----------+-----------+

In [ ]:
# Add a new comumn: salary with new bones (10%)
from pyspark.sql.functions import  col
exp=col("Salary") * 1.1
df_with_bonus = df.withColumn("Salary_10%_Bonus",exp)
df_with_bonus.show()

+-----+----------+------+------------------+
| Name|Department|Salary|  Salary_10%_Bonus|
+-----+----------+------+------------------+
| John|     Sales|  3000|3300.0000000000005|
| Jane|   Finance|  4000|            4400.0|
| Mike|     Sales|  3500|3850.0000000000005|
|Alice|   Finance|  3800|            4180.0|
|  Bob|        IT|  4500|            4950.0|
+-----+----------+------+------------------+

In [ ]:
from pyspark.sql.functions import col,upper, lower, concat_ws,length,when

df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [ ]:
df_upper = df.withColumn("Name_upper",upper(col("Name")))
df_lower = df.withColumn("Name_lower", lower(col("Name")))
df_upper.show()
df_lower.show()

+-----+----------+------+----------+
| Name|Department|Salary|Name_upper|
+-----+----------+------+----------+
| John|     Sales|  3000|      JOHN|
| Jane|   Finance|  4000|      JANE|
| Mike|     Sales|  3500|      MIKE|
|Alice|   Finance|  3800|     ALICE|
|  Bob|        IT|  4500|       BOB|
+-----+----------+------+----------+

+-----+----------+------+----------+
| Name|Department|Salary|Name_lower|
+-----+----------+------+----------+
| John|     Sales|  3000|      john|
| Jane|   Finance|  4000|      jane|
| Mike|     Sales|  3500|      mike|
|Alice|   Finance|  3800|     alice|
|  Bob|        IT|  4500|       bob|
+-----+----------+------+----------+

In [ ]:
df_concat = df.withColumn("Full_length_Name",concat_ws(" ",col("Name"),col("Department")))
df_concat.show()

+-----+----------+------+----------------+
| Name|Department|Salary|Full_length_Name|
+-----+----------+------+----------------+
| John|     Sales|  3000|      John Sales|
| Jane|   Finance|  4000|    Jane Finance|
| Mike|     Sales|  3500|      Mike Sales|
|Alice|   Finance|  3800|   Alice Finance|
|  Bob|        IT|  4500|          Bob IT|
+-----+----------+------+----------------+

In [ ]:
# String leangth of Names in New DF
df_length = df.withColumn("Name_length",length(col("Name")))
df_length.show()

+-----+----------+------+-----------+
| Name|Department|Salary|Name_length|
+-----+----------+------+-----------+
| John|     Sales|  3000|          4|
| Jane|   Finance|  4000|          4|
| Mike|     Sales|  3500|          4|
|Alice|   Finance|  3800|          5|
|  Bob|        IT|  4500|          3|
+-----+----------+------+-----------+

In [ ]:
# conditional column (salary Category)
df_conditional = df.withColumn(
    "Salary_Category",
    when(col("Salary") >= 4000, "High")
    .when(col("Salary") >= 3500, "Medium")
    .otherwise("Low")
)
df_conditional.show()

In [ ]:
# Rename the column (Salary --> Base_Salary)
df_renamed = df.withColumnRenamed("Salary","Base_salary")
df_renamed.show()

+-----+----------+-----------+
| Name|Department|Base_salary|
+-----+----------+-----------+
| John|     Sales|       3000|
| Jane|   Finance|       4000|
| Mike|     Sales|       3500|
|Alice|   Finance|       3800|
|  Bob|        IT|       4500|
+-----+----------+-----------+

# Advance

In [ ]:
from pyspark.sql import SparkSession
spark =SparkSession.builder.appName("Basics").getOrCreate()
columns = ["Name","Department","Salary"]
data = [
    ("John", "Sales", 3000),
    ("Jane", "Finance", 4000),
    ("Mike", "Sales", 3500),
    ("Alice", "Finance", 3800),
    ("Bob", "IT", 4500)
]

df = spark.createDataFrame(data, columns)

df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [ ]:
df.groupBy("Department").agg({"Salary":"avg"}).show()

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3250.0|
|   Finance|     3900.0|
|        IT|     4500.0|
+----------+-----------+

In [ ]:
df.groupBy("Department").avg("Salary").show()

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3250.0|
|   Finance|     3900.0|
|        IT|     4500.0|
+----------+-----------+

In [ ]:
df.groupBy("Department").agg({"Salary":"avg", "Salary":"min"}).show()

+----------+-----------+
|Department|min(Salary)|
+----------+-----------+
|     Sales|       3000|
|   Finance|       3800|
|        IT|       4500|
+----------+-----------+

In [ ]:
from pyspark.sql import functions as F

df.groupBy("Department") \
   .agg(F.avg("Salary").alias("Average_Salary"),
        F.max("Salary").alias("Max_Salary"),
        F.min("Salary").alias("Min_Salary")) \
   .show()

+----------+--------------+----------+----------+
|Department|Average_Salary|Max_Salary|Min_Salary|
+----------+--------------+----------+----------+
|     Sales|        3250.0|      3500|      3000|
|   Finance|        3900.0|      4000|      3800|
|        IT|        4500.0|      4500|      4500|
+----------+--------------+----------+----------+

In [ ]:
# Create another DataFrame for department info
dept_data = [
    ("Sales", "Building A"),
    ("Finance", "Building B"),
    ("IT", "Building C")
]
dept_columns = ["Department", "Location"]

dept_df=spark.createDataFrame(dept_data, dept_columns)
dept_df.show()

+----------+----------+
|Department|  Location|
+----------+----------+
|     Sales|Building A|
|   Finance|Building B|
|        IT|Building C|
+----------+----------+

In [ ]:
# Create another DataFrame for department info
dept_data = [
    ("Sales", "Building A"),
    ("Finance", "Building B"),
    ("IT", "Building C")
]
dept_columns = ["Department", "Location"]

dept_df=spark.createDataFrame(dept_data, dept_columns)
dept_df.show()

+----------+----------+
|Department|  Location|
+----------+----------+
|     Sales|Building A|
|   Finance|Building B|
|        IT|Building C|
+----------+----------+

In [ ]:
dept_df = spark.createDataFrame(dept_data, dept_columns)

joined_df = df.join(dept_df, on="Department", how="inner")
joined_df.show()

+----------+-----+------+----------+
|Department| Name|Salary|  Location|
+----------+-----+------+----------+
|   Finance| Jane|  4000|Building B|
|   Finance|Alice|  3800|Building B|
|        IT|  Bob|  4500|Building C|
|     Sales| John|  3000|Building A|
|     Sales| Mike|  3500|Building A|
+----------+-----+------+----------+

In [ ]:
dept_df.show()

+----------+----------+
|Department|  Location|
+----------+----------+
|     Sales|Building A|
|   Finance|Building B|
|        IT|Building C|
+----------+----------+

In [ ]:
# Employee DataFrame
emp_data = [
    (1, "John", "Sales", 3000),
    (2, "Jane", "Finance", 4000),
    (3, "Mike", "Sales", 3500),
    (4, "Alice", "HR", 3800),
    (5, "Bob", "IT", 4500),
    (6, "Sam", "Support", 3200)
]
emp_cols = ["EmpID", "Name", "Department", "Salary"]
emp_df = spark.createDataFrame(emp_data, emp_cols)

# Department DataFrame
dept_data = [
    ("Sales", "Building A"),
    ("Finance", "Building B"),
    ("IT", "Building C"),
    ("Admin", "Building D")
]
dept_cols = ["Department", "Location"]
dept_df = spark.createDataFrame(dept_data, dept_cols)

# Display both
emp_df.show()
dept_df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1| John|     Sales|  3000|
|    2| Jane|   Finance|  4000|
|    3| Mike|     Sales|  3500|
|    4|Alice|        HR|  3800|
|    5|  Bob|        IT|  4500|
|    6|  Sam|   Support|  3200|
+-----+-----+----------+------+

+----------+----------+
|Department|  Location|
+----------+----------+
|     Sales|Building A|
|   Finance|Building B|
|        IT|Building C|
|     Admin|Building D|
+----------+----------+

In [ ]:
emp_df.join(dept_df, on="Department", how="inner").show()

+----------+-----+----+------+----------+
|Department|EmpID|Name|Salary|  Location|
+----------+-----+----+------+----------+
|   Finance|    2|Jane|  4000|Building B|
|        IT|    5| Bob|  4500|Building C|
|     Sales|    1|John|  3000|Building A|
|     Sales|    3|Mike|  3500|Building A|
+----------+-----+----+------+----------+

In [ ]:
# left join
emp_df.join(dept_df, on="Department", how="left").show()

+----------+-----+-----+------+----------+
|Department|EmpID| Name|Salary|  Location|
+----------+-----+-----+------+----------+
|     Sales|    1| John|  3000|Building A|
|     Sales|    3| Mike|  3500|Building A|
|   Finance|    2| Jane|  4000|Building B|
|        HR|    4|Alice|  3800|      NULL|
|        IT|    5|  Bob|  4500|Building C|
|   Support|    6|  Sam|  3200|      NULL|
+----------+-----+-----+------+----------+

In [ ]:
emp_df.join(dept_df, on="Department", how="right").show()

+----------+-----+----+------+----------+
|Department|EmpID|Name|Salary|  Location|
+----------+-----+----+------+----------+
|     Sales|    3|Mike|  3500|Building A|
|     Sales|    1|John|  3000|Building A|
|   Finance|    2|Jane|  4000|Building B|
|     Admin| NULL|NULL|  NULL|Building D|
|        IT|    5| Bob|  4500|Building C|
+----------+-----+----+------+----------+

In [ ]:
emp_df.join(dept_df, on="Department", how="full").show()

+----------+-----+-----+------+----------+
|Department|EmpID| Name|Salary|  Location|
+----------+-----+-----+------+----------+
|     Admin| NULL| NULL|  NULL|Building D|
|   Finance|    2| Jane|  4000|Building B|
|        HR|    4|Alice|  3800|      NULL|
|        IT|    5|  Bob|  4500|Building C|
|     Sales|    1| John|  3000|Building A|
|     Sales|    3| Mike|  3500|Building A|
|   Support|    6|  Sam|  3200|      NULL|
+----------+-----+-----+------+----------+

# SALES.csv

In [ ]:
# Assignment

from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, DoubleType, StringType, TimestampType
from pyspark.sql import functions as F

spark = SparkSession.builder.appName("SalesData").getOrCreate()

# Define schema
schema = StructType([
    StructField("sale_id", IntegerType(), True),
    StructField("product_id", IntegerType(), True),
    StructField("customer_id", IntegerType(), True),
    StructField("sale_date", StringType(), True),  # or TimestampType()
    StructField("quantity", IntegerType(), True),
    StructField("price", DoubleType(), True)
])

# Create data
data = [
    (1001, 101, 501, "2025-07-10 08:23:00", 3, 25.5),
    (1002, 102, 502, "2025-07-11 09:45:00", 2, 15.0),
    (1003, 103, 503, "2025-07-12 10:15:00", 1, 30.0),
    (1004, 101, 504, "2025-07-13 12:20:00", 5, 25.5),
    (1005, 105, 505, "2025-07-14 14:35:00", 10, 45.0),
    (1006, 102, 506, "2025-07-15 16:00:00", 4, 15.0),
]

df = spark.createDataFrame(data, schema=schema)
df = df.withColumn("sale_date", F.to_timestamp("sale_date"))
df.show()

+-------+----------+-----------+-------------------+--------+-----+
|sale_id|product_id|customer_id|          sale_date|quantity|price|
+-------+----------+-----------+-------------------+--------+-----+
|   1001|       101|        501|2025-07-10 08:23:00|       3| 25.5|
|   1002|       102|        502|2025-07-11 09:45:00|       2| 15.0|
|   1003|       103|        503|2025-07-12 10:15:00|       1| 30.0|
|   1004|       101|        504|2025-07-13 12:20:00|       5| 25.5|
|   1005|       105|        505|2025-07-14 14:35:00|      10| 45.0|
|   1006|       102|        506|2025-07-15 16:00:00|       4| 15.0|
+-------+----------+-----------+-------------------+--------+-----+

In [ ]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# Define schema for products
product_schema = StructType([
    StructField("product_id", IntegerType(), True),
    StructField("product_name", StringType(), True),
    StructField("category", StringType(), True),
])

# Create product data
products_data = [
    (101, "Widget A", "Gadgets"),
    (102, "Widget B", "Gadgets"),
    (103, "Widget C", "Electronics"),
    (104, "Widget D", "Electronics"),
    (105, "Widget E", "Home & Living"),
]

# Create DataFrame
df_products = spark.createDataFrame(products_data, schema=product_schema)
df_products.show()

+----------+------------+-------------+
|product_id|product_name|     category|
+----------+------------+-------------+
|       101|    Widget A|      Gadgets|
|       102|    Widget B|      Gadgets|
|       103|    Widget C|  Electronics|
|       104|    Widget D|  Electronics|
|       105|    Widget E|Home & Living|
+----------+------------+-------------+

In [ ]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, TimestampType

# Define schema
customer_schema = StructType([
    StructField("customer_id", IntegerType(), True),
    StructField("customer_name", StringType(), True),
    StructField("email", StringType(), True),
    StructField("join_date", StringType(), True),  # or use TimestampType
])

# Create data
customer_data = [
    (501, "Alice", "alice@example.com", "2025-05-20 10:10:00"),
    (502, "Bob", "bob@example.com", "2025-06-15 14:00:00"),
    (503, "Charlie", "charlie@example.com", "2025-04-05 09:50:00"),
    (504, "David", "david@example.com", "2025-07-01 12:25:00"),
    (505, "Emma", "emma@example.com", "2025-07-10 15:30:00"),
    (506, "Frank", "frank@example.com", "2025-03-23 17:00:00"),
]

# Create DataFrame
df_customers = spark.createDataFrame(customer_data, schema=customer_schema) \
    .withColumn("join_date", F.to_timestamp("join_date"))

df_customers.show()

+-----------+-------------+-------------------+-------------------+
|customer_id|customer_name|              email|          join_date|
+-----------+-------------+-------------------+-------------------+
|        501|        Alice|  alice@example.com|2025-05-20 10:10:00|
|        502|          Bob|    bob@example.com|2025-06-15 14:00:00|
|        503|      Charlie|charlie@example.com|2025-04-05 09:50:00|
|        504|        David|  david@example.com|2025-07-01 12:25:00|
|        505|         Emma|   emma@example.com|2025-07-10 15:30:00|
|        506|        Frank|  frank@example.com|2025-03-23 17:00:00|
+-----------+-------------+-------------------+-------------------+

In [ ]:
# df contains sales data with: product_id, quantity, price
from pyspark.sql import functions as F

df.withColumn("revenue", F.col("quantity") * F.col("price")) \
  .groupBy("product_id") \
  .agg(F.sum("revenue").alias("total_revenue")) \
  .orderBy(F.desc("total_revenue")) \
  .show()

+----------+-------------+
|product_id|total_revenue|
+----------+-------------+
|       105|        450.0|
|       101|        204.0|
|       102|         90.0|
|       103|         30.0|
+----------+-------------+

In [ ]:
from pyspark.sql import functions as F

# Option 1: Use customer_id only
df.groupBy("customer_id") \
  .agg(F.sum("quantity").alias("total_quantity")) \
  .orderBy(F.desc("total_quantity")) \
  .show()

+-----------+--------------+
|customer_id|total_quantity|
+-----------+--------------+
|        505|            10|
|        504|             5|
|        506|             4|
|        501|             3|
|        502|             2|
|        503|             1|
+-----------+--------------+

In [50]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, TimestampType
from pyspark.sql import functions as F

# Define schema for products
product_schema = StructType([
    StructField("product_id", IntegerType(), True),
    StructField("product_name", StringType(), True),
    StructField("category", StringType(), True),
])

# Create product data
products_data = [
    (101, "Widget A", "Gadgets"),
    (102, "Widget B", "Gadgets"),
    (103, "Widget C", "Electronics"),
    (104, "Widget D", "Electronics"),
    (105, "Widget E", "Home & Living"),
]

# Create DataFrame
df_products = spark.createDataFrame(products_data, schema=product_schema)

# Define schema for customer data
customer_schema = StructType([
    StructField("customer_id", IntegerType(), True),
    StructField("customer_name", StringType(), True),
    StructField("email", StringType(), True),
    StructField("join_date", StringType(), True),  # or use TimestampType
])

# Create data
customer_data = [
    (501, "Alice", "alice@example.com", "2025-05-20 10:10:00"),
    (502, "Bob", "bob@example.com", "2025-06-15 14:00:00"),
    (503, "Charlie", "charlie@example.com", "2025-04-05 09:50:00"),
    (504, "David", "david@example.com", "2025-07-01 12:25:00"),
    (505, "Emma", "emma@example.com", "2025-07-10 15:30:00"),
    (506, "Frank", "frank@example.com", "2025-03-23 17:00:00"),
]

# Create DataFrame
df_customers = spark.createDataFrame(customer_data, schema=customer_schema) \
    .withColumn("join_date", F.to_timestamp("join_date"))

# Rename df["Product"] to "product_id" so it matches df_products
df_renamed = df.withColumnRenamed("Product", "product_id")

# Then join
df_joined = df_renamed.join(df_products, on="product_id", how="inner")
df_joined.show()

+----------+-----+-----+------------+--------+
|product_id|Month|Sales|product_name|category|
+----------+-----+-----+------------+--------+
+----------+-----+-----+------------+--------+

In [ ]:
from pyspark.sql import functions as F

df_full.groupBy("customer_name") \
       .agg(F.sum("quantity").alias("total_quantity")) \
       .orderBy(F.desc("total_quantity")) \
       .show()

+-------------+--------------+
|customer_name|total_quantity|
+-------------+--------------+
|         Emma|            10|
|        David|             5|
|        Frank|             4|
|        Alice|             3|
|          Bob|             2|
|      Charlie|             1|
+-------------+--------------+

In [ ]:
from pyspark.sql import functions as F

# Make sure df_full includes: customer_id, customer_name, quantity, price
df_full.withColumn("revenue", F.col("quantity") * F.col("price")) \
       .groupBy("customer_name") \
       .agg(F.avg("revenue").alias("average_revenue")) \
       .orderBy(F.desc("average_revenue")) \
       .show()

+-------------+---------------+
|customer_name|average_revenue|
+-------------+---------------+
|         Emma|          450.0|
|        David|          127.5|
|        Alice|           76.5|
|        Frank|           60.0|
|      Charlie|           30.0|
|          Bob|           30.0|
+-------------+---------------+

In [ ]:
from pyspark.sql import functions as F

# Step 1: Add a 'revenue' column
df_with_revenue = df.withColumn("revenue", F.col("quantity") * F.col("price"))

# Step 2: Extract year and month from 'sale_date'
df_monthly = df_with_revenue.withColumn("year_month", F.date_format("sale_date", "yyyy-MM"))

# Step 3: Group by 'year_month' and sum revenue
df_monthly.groupBy("year_month") \
    .agg(F.round(F.sum("revenue"), 2).alias("total_revenue")) \
    .orderBy("year_month") \
    .show()

+----------+-------------+
|year_month|total_revenue|
+----------+-------------+
|   2025-07|        774.0|
+----------+-------------+

In [ ]:
from pyspark.sql import functions as F

df_sales_by_category = df.join(df_products, on="product_id", how="inner") \
    .groupBy("category") \
    .agg(F.count("*").alias("total_sales")) \
    .orderBy(F.desc("total_sales"))

df_sales_by_category.show()

+-------------+-----------+
|     category|total_sales|
+-------------+-----------+
|      Gadgets|          4|
|  Electronics|          1|
|Home & Living|          1|
+-------------+-----------+

In [ ]:
from pyspark.sql import functions as F

# Step 1: Calculate revenue per row
df_revenue = df.withColumn("revenue", F.col("quantity") * F.col("price"))

# Step 2: Join with products to get product names
df_with_names = df_revenue.join(df_products, on="product_id", how="inner")

# Step 3: Group by product and sum revenue
df_top_products = df_with_names.groupBy("product_name") \
    .agg(F.round(F.sum("revenue"), 2).alias("total_revenue")) \
    .orderBy(F.desc("total_revenue")) \
    .limit(3)

# Step 4: Show result
df_top_products.show()

+------------+-------------+
|product_name|total_revenue|
+------------+-------------+
|    Widget E|        450.0|
|    Widget A|        204.0|
|    Widget B|         90.0|
+------------+-------------+

In [ ]:
# joins

# Join sales_data with product_data on product_id
df_sales_with_products = df.join(df_products, on="product_id", how="inner")

# Select the relevant columns
df_sales_with_products.select(
    "sale_id",
    "product_id",
    "product_name",
    "category",
    "customer_id",
    "sale_date",
    "quantity",
    "price"
).show(truncate=False)

+-------+----------+------------+-------------+-----------+-------------------+--------+-----+
|sale_id|product_id|product_name|category     |customer_id|sale_date          |quantity|price|
+-------+----------+------------+-------------+-----------+-------------------+--------+-----+
|1001   |101       |Widget A    |Gadgets      |501        |2025-07-10 08:23:00|3       |25.5 |
|1004   |101       |Widget A    |Gadgets      |504        |2025-07-13 12:20:00|5       |25.5 |
|1002   |102       |Widget B    |Gadgets      |502        |2025-07-11 09:45:00|2       |15.0 |
|1006   |102       |Widget B    |Gadgets      |506        |2025-07-15 16:00:00|4       |15.0 |
|1003   |103       |Widget C    |Electronics  |503        |2025-07-12 10:15:00|1       |30.0 |
|1005   |105       |Widget E    |Home & Living|505        |2025-07-14 14:35:00|10      |45.0 |
+-------+----------+------------+-------------+-----------+-------------------+--------+-----+

In [ ]:
# Join sales with customer data on customer_id
df_sales_with_customers = df.join(df_customers, on="customer_id", how="inner")

# Select columns for detailed sales info with customer name and email
df_sales_with_customers.select(
    "sale_id",
    "customer_id",
    "customer_name",
    "email",
    "sale_date",
    "product_id",
    "quantity",
    "price"
).show(truncate=False)

+-------+-----------+-------------+-------------------+-------------------+----------+--------+-----+
|sale_id|customer_id|customer_name|email              |sale_date          |product_id|quantity|price|
+-------+-----------+-------------+-------------------+-------------------+----------+--------+-----+
|1001   |501        |Alice        |alice@example.com  |2025-07-10 08:23:00|101       |3       |25.5 |
|1002   |502        |Bob          |bob@example.com    |2025-07-11 09:45:00|102       |2       |15.0 |
|1003   |503        |Charlie      |charlie@example.com|2025-07-12 10:15:00|103       |1       |30.0 |
|1004   |504        |David        |david@example.com  |2025-07-13 12:20:00|101       |5       |25.5 |
|1005   |505        |Emma         |emma@example.com   |2025-07-14 14:35:00|105       |10      |45.0 |
|1006   |506        |Frank        |frank@example.com  |2025-07-15 16:00:00|102       |4       |15.0 |
+-------+-----------+-------------+-------------------+-------------------+----------+--------+-----+

In [ ]:
from pyspark.sql import functions as F

# Step 1: Join sales and product data
df_sales_with_category = df.join(df_products, on="product_id", how="inner")

# Step 2: Filter for category 'Gadgets'
df_gadgets_sales = df_sales_with_category.filter(F.col("category") == "Gadgets")

# Step 3: Show selected fields
df_gadgets_sales.select(
    "sale_id", "product_id", "product_name", "category",
    "customer_id", "sale_date", "quantity", "price"
).show(truncate=False)

+-------+----------+------------+--------+-----------+-------------------+--------+-----+
|sale_id|product_id|product_name|category|customer_id|sale_date          |quantity|price|
+-------+----------+------------+--------+-----------+-------------------+--------+-----+
|1001   |101       |Widget A    |Gadgets |501        |2025-07-10 08:23:00|3       |25.5 |
|1004   |101       |Widget A    |Gadgets |504        |2025-07-13 12:20:00|5       |25.5 |
|1002   |102       |Widget B    |Gadgets |502        |2025-07-11 09:45:00|2       |15.0 |
|1006   |102       |Widget B    |Gadgets |506        |2025-07-15 16:00:00|4       |15.0 |
+-------+----------+------------+--------+-----------+-------------------+--------+-----+

In [ ]:
# Perform LEFT JOIN between sales and products
df_sales_left_join = df.join(df_products, on="product_id", how="left")

# Show key fields, including nulls if product info is missing
df_sales_left_join.select(
    "sale_id",
    "product_id",
    "product_name",
    "category",
    "customer_id",
    "sale_date",
    "quantity",
    "price"
).show(truncate=False)

+-------+----------+------------+-------------+-----------+-------------------+--------+-----+
|sale_id|product_id|product_name|category     |customer_id|sale_date          |quantity|price|
+-------+----------+------------+-------------+-----------+-------------------+--------+-----+
|1001   |101       |Widget A    |Gadgets      |501        |2025-07-10 08:23:00|3       |25.5 |
|1003   |103       |Widget C    |Electronics  |503        |2025-07-12 10:15:00|1       |30.0 |
|1002   |102       |Widget B    |Gadgets      |502        |2025-07-11 09:45:00|2       |15.0 |
|1004   |101       |Widget A    |Gadgets      |504        |2025-07-13 12:20:00|5       |25.5 |
|1006   |102       |Widget B    |Gadgets      |506        |2025-07-15 16:00:00|4       |15.0 |
|1005   |105       |Widget E    |Home & Living|505        |2025-07-14 14:35:00|10      |45.0 |
+-------+----------+------------+-------------+-----------+-------------------+--------+-----+

In [ ]:
from pyspark.sql.functions import col

# Alias the sales data for self-join
sales1 = df.alias("s1")
sales2 = df.alias("s2")

# Perform the self-join on product_id where sale_dates are different
df_self_joined = sales1.join(
    sales2,
    (col("s1.product_id") == col("s2.product_id")) &
    (col("s1.sale_date") < col("s2.sale_date")),  # avoid same and duplicate pairs
    how="inner"
)

# Select relevant comparison fields
df_self_joined.select(
    col("s1.product_id"),
    col("s1.sale_id").alias("sale_id_1"),
    col("s1.sale_date").alias("sale_date_1"),
    col("s1.quantity").alias("quantity_1"),
    col("s2.sale_id").alias("sale_id_2"),
    col("s2.sale_date").alias("sale_date_2"),
    col("s2.quantity").alias("quantity_2")
).orderBy("product_id", "sale_date_1").show(truncate=False)

+----------+---------+-------------------+----------+---------+-------------------+----------+
|product_id|sale_id_1|sale_date_1        |quantity_1|sale_id_2|sale_date_2        |quantity_2|
+----------+---------+-------------------+----------+---------+-------------------+----------+
|101       |1001     |2025-07-10 08:23:00|3         |1004     |2025-07-13 12:20:00|5         |
|102       |1002     |2025-07-11 09:45:00|2         |1006     |2025-07-15 16:00:00|4         |
+----------+---------+-------------------+----------+---------+-------------------+----------+

In [ ]:
# Perform full outer join on product_id
df_full_outer = df.join(df_products, on="product_id", how="outer")

# Select relevant fields
df_full_outer.select(
    "product_id",
    "product_name",
    "category",
    "sale_id",
    "customer_id",
    "sale_date",
    "quantity",
    "price"
).orderBy("product_id").show(truncate=False)

+----------+------------+-------------+-------+-----------+-------------------+--------+-----+
|product_id|product_name|category     |sale_id|customer_id|sale_date          |quantity|price|
+----------+------------+-------------+-------+-----------+-------------------+--------+-----+
|101       |Widget A    |Gadgets      |1001   |501        |2025-07-10 08:23:00|3       |25.5 |
|101       |Widget A    |Gadgets      |1004   |504        |2025-07-13 12:20:00|5       |25.5 |
|102       |Widget B    |Gadgets      |1002   |502        |2025-07-11 09:45:00|2       |15.0 |
|102       |Widget B    |Gadgets      |1006   |506        |2025-07-15 16:00:00|4       |15.0 |
|103       |Widget C    |Electronics  |1003   |503        |2025-07-12 10:15:00|1       |30.0 |
|104       |Widget D    |Electronics  |NULL   |NULL       |NULL               |NULL    |NULL |
|105       |Widget E    |Home & Living|1005   |505        |2025-07-14 14:35:00|10      |45.0 |
+----------+------------+-------------+-------+-----------+-------------------+--------+-----+

In [ ]:
from pyspark.sql.functions import col

# Step 1: Join sales with customers
df_sales_customers = df.join(df_customers, on="customer_id", how="inner")

# Step 2: Join the above result with products
df_complete_sales = df_sales_customers.join(df_products, on="product_id", how="inner")

# Step 3: Select and display relevant columns
df_complete_sales.select(
    "sale_id",
    "sale_date",
    "product_id",
    "product_name",
    "category",
    "customer_id",
    "customer_name",
    "email",
    "quantity",
    "price"
).orderBy("sale_date").show(truncate=False)

+-------+-------------------+----------+------------+-------------+-----------+-------------+-------------------+--------+-----+
|sale_id|sale_date          |product_id|product_name|category     |customer_id|customer_name|email              |quantity|price|
+-------+-------------------+----------+------------+-------------+-----------+-------------+-------------------+--------+-----+
|1001   |2025-07-10 08:23:00|101       |Widget A    |Gadgets      |501        |Alice        |alice@example.com  |3       |25.5 |
|1002   |2025-07-11 09:45:00|102       |Widget B    |Gadgets      |502        |Bob          |bob@example.com    |2       |15.0 |
|1003   |2025-07-12 10:15:00|103       |Widget C    |Electronics  |503        |Charlie      |charlie@example.com|1       |30.0 |
|1004   |2025-07-13 12:20:00|101       |Widget A    |Gadgets      |504        |David        |david@example.com  |5       |25.5 |
|1005   |2025-07-14 14:35:00|105       |Widget E    |Home & Living|505        |Emma         |emma@example.com   |10      |45.0 |
|1006   |2025-07-15 16:00:00|102       |Widget B    |Gadgets      |506        |Frank        |frank@example.com  |4       |15.0 |
+-------+-------------------+----------+------------+-------------+-----------+-------------+-------------------+--------+-----+

In [ ]:
#Additional Transformations:

from pyspark.sql.functions import col, to_timestamp

# Ensure sale_date is in timestamp format (if it's a string)
df_filtered = df.withColumn("sale_date", to_timestamp("sale_date"))

# Filter rows between July 10 and July 15, 2025 (inclusive)
df_sales_range = df_filtered.filter(
    col("sale_date").between("2025-07-10", "2025-07-15")
)

# Show result
df_sales_range.select("sale_id", "sale_date", "product_id", "quantity", "price").show(truncate=False)

+-------+-------------------+----------+--------+-----+
|sale_id|sale_date          |product_id|quantity|price|
+-------+-------------------+----------+--------+-----+
|1001   |2025-07-10 08:23:00|101       |3       |25.5 |
|1002   |2025-07-11 09:45:00|102       |2       |15.0 |
|1003   |2025-07-12 10:15:00|103       |1       |30.0 |
|1004   |2025-07-13 12:20:00|101       |5       |25.5 |
|1005   |2025-07-14 14:35:00|105       |10      |45.0 |
+-------+-------------------+----------+--------+-----+

In [ ]:
from pyspark.sql import functions as F

# Step 1: Calculate revenue per transaction
df_with_revenue = df.withColumn("revenue", F.col("quantity") * F.col("price"))

# Step 2: Join with customer data to get names
df_with_customers = df_with_revenue.join(df_customers, on="customer_id", how="inner")

# Step 3: Aggregate total revenue per customer
df_customer_spending = df_with_customers.groupBy("customer_id", "customer_name") \
    .agg(F.round(F.sum("revenue"), 2).alias("total_spent"))

# Step 4: Order and limit to top 5
df_top_5_customers = df_customer_spending.orderBy(F.desc("total_spent")).limit(5)

# Step 5: Show result
df_top_5_customers.show()

+-----------+-------------+-----------+
|customer_id|customer_name|total_spent|
+-----------+-------------+-----------+
|        505|         Emma|      450.0|
|        504|        David|      127.5|
|        501|        Alice|       76.5|
|        506|        Frank|       60.0|
|        502|          Bob|       30.0|
+-----------+-------------+-----------+

In [ ]:
from pyspark.sql import functions as F
from pyspark.sql.functions import when

# Step 1: Compute revenue per transaction
df_with_revenue = df.withColumn("revenue", F.col("quantity") * F.col("price"))

# Step 2: Join with customer data
df_with_customers = df_with_revenue.join(df_customers, on="customer_id", how="inner")

# Step 3: Total spending per customer
df_total_spending = df_with_customers.groupBy("customer_id", "customer_name") \
    .agg(F.round(F.sum("revenue"), 2).alias("total_spent"))

# Step 4: Categorize into spending groups
df_segmented = df_total_spending.withColumn(
    "spending_category",
    when(F.col("total_spent") <= 100, "Low Spender")
    .when((F.col("total_spent") > 100) & (F.col("total_spent") <= 300), "Medium Spender")
    .otherwise("High Spender")
)

# Step 5: Show the result
df_segmented.orderBy(F.desc("total_spent")).show()

+-----------+-------------+-----------+-----------------+
|customer_id|customer_name|total_spent|spending_category|
+-----------+-------------+-----------+-----------------+
|        505|         Emma|      450.0|     High Spender|
|        504|        David|      127.5|   Medium Spender|
|        501|        Alice|       76.5|      Low Spender|
|        506|        Frank|       60.0|      Low Spender|
|        502|          Bob|       30.0|      Low Spender|
|        503|      Charlie|       30.0|      Low Spender|
+-----------+-------------+-----------+-----------------+

In [ ]:
from pyspark.sql.functions import min, max, to_timestamp

# Ensure sale_date is timestamp
df_sales = df.withColumn("sale_date", to_timestamp("sale_date"))

# Join with customer names (optional, for readability)
df_with_customers = df_sales.join(df_customers, on="customer_id", how="inner")

# Group by customer and find first and last purchase dates
df_purchase_dates = df_with_customers.groupBy("customer_id", "customer_name") \
    .agg(
        min("sale_date").alias("first_purchase"),
        max("sale_date").alias("last_purchase")
    ) \
    .orderBy("customer_id")

# Show result
df_purchase_dates.show(truncate=False)

+-----------+-------------+-------------------+-------------------+
|customer_id|customer_name|first_purchase     |last_purchase      |
+-----------+-------------+-------------------+-------------------+
|501        |Alice        |2025-07-10 08:23:00|2025-07-10 08:23:00|
|502        |Bob          |2025-07-11 09:45:00|2025-07-11 09:45:00|
|503        |Charlie      |2025-07-12 10:15:00|2025-07-12 10:15:00|
|504        |David        |2025-07-13 12:20:00|2025-07-13 12:20:00|
|505        |Emma         |2025-07-14 14:35:00|2025-07-14 14:35:00|
|506        |Frank        |2025-07-15 16:00:00|2025-07-15 16:00:00|
+-----------+-------------+-------------------+-------------------+

In [ ]:
from pyspark.sql.functions import max, to_timestamp, current_date, datediff

# Ensure sale_date is timestamp
df_sales = df.withColumn("sale_date", to_timestamp("sale_date"))

# Step 1: Get last purchase date per customer
df_last_purchase = df_sales.groupBy("customer_id") \
    .agg(max("sale_date").alias("last_purchase"))

# Step 2: Join with customer info
df_customer_last = df_last_purchase.join(df_customers, on="customer_id", how="inner")

# Step 3: Filter customers where last purchase was more than 30 days ago
df_inactive_customers = df_customer_last.filter(
    datediff(current_date(), "last_purchase") > 30
)

# Step 4: Show result
df_inactive_customers.select("customer_id", "customer_name", "email", "last_purchase").show(truncate=False)

+-----------+-------------+-----+-------------+
|customer_id|customer_name|email|last_purchase|
+-----------+-------------+-----+-------------+
+-----------+-------------+-----+-------------+

#DATA SETS

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, TimestampType
from pyspark.sql.functions import to_timestamp

# Create Spark session
spark = SparkSession.builder.appName("FullCustomerDataset").getOrCreate()

# Define schema for customer data
customer_schema = StructType([
    StructField("customer_id", IntegerType(), True),
    StructField("customer_name", StringType(), True),
    StructField("email", StringType(), True),
    StructField("join_date", StringType(), True),
])

# Full customer dataset
customer_data = [
    (501, "Alice", "alice@example.com", "2025-05-20 10:10:00"),
    (502, "Bob", "bob@example.com", "2025-06-15 14:00:00"),
    (503, "Charlie", "charlie@example.com", "2025-04-05 9:50:00"),
    (504, "David", "david@example.com", "2025-07-01 12:25:00"),
    (505, "Emma", "emma@example.com", "2025-07-10 15:30:00"),
    (506, "Frank", "frank@example.com", "2025-03-23 17:00:00"),
    (507, "Grace", "grace@example.com", "2025-05-01 13:20:00"),
    (508, "Henry", "henry@example.com", "2025-06-07 10:10:00"),
    (509, "Isabel", "isabel@example.com", "2025-05-25 16:30:00"),
    (510, "Jack", "jack@example.com", "2025-04-12 11:55:00"),
    (511, "Kate", "kate@example.com", "2025-06-18 14:10:00"),
    (512, "Liam", "liam@example.com", "2025-07-05 8:45:00"),
    (513, "Mona", "mona@example.com", "2025-03-30 15:25:00"),
    (514, "Nina", "nina@example.com", "2025-04-19 10:35:00"),
    (515, "Oscar", "oscar@example.com", "2025-05-14 9:15:00"),
    (516, "Paul", "paul@example.com", "2025-06-03 12:50:00"),
    (517, "Quinn", "quinn@example.com", "2025-07-13 13:10:00"),
    (518, "Rita", "rita@example.com", "2025-07-20 11:00:00"),
    (519, "Sara", "sara@example.com", "2025-06-30 17:40:00"),
    (520, "Tom", "tom@example.com", "2025-05-18 14:20:00"),
    (521, "Ursula", "ursula@example.com", "2025-04-01 10:50:00"),
    (522, "Victor", "victor@example.com", "2025-07-22 16:30:00"),
    (523, "Wendy", "wendy@example.com", "2025-06-09 13:00:00"),
    (524, "Xander", "xander@example.com", "2025-05-30 18:05:00"),
    (525, "Yvonne", "yvonne@example.com", "2025-03-28 14:15:00"),
    (526, "Zach", "zach@example.com", "2025-04-23 11:30:00"),
    (527, "Amos", "amos@example.com", "2025-07-07 9:25:00"),
    (528, "Bella", "bella@example.com", "2025-05-02 12:00:00"),
    (529, "Clara", "clara@example.com", "2025-06-25 15:10:00"),
    (530, "Dan", "d@danmail.com", "2025-07-14 14:15:00"),
    (531, "Ellie", "ellie@example.com", "2025-06-01 8:30:00"),
    (532, "Freddy", "freddy@example.com", "2025-07-03 12:45:00"),
    (533, "Grace", "grace@anothermail.com", "2025-05-15 13:30:00"),
    (534, "Harry", "harry@example.com", "2025-04-10 17:25:00"),
    (535, "Ivy", "ivy@example.com", "2025-03-18 16:00:00"),
    (536, "John", "john@example.com", "2025-07-19 10:50:00"),
    (537, "Ken", "ken@example.com", "2025-05-12 9:35:00"),
    (538, "Lena", "lena@example.com", "2025-06-21 13:55:00"),
    (539, "Monica", "monica@example.com", "2025-03-27 18:40:00"),
    (540, "Nash", "nash@example.com", "2025-04-15 14:25:00"),
    (541, "Olivia", "olivia@example.com", "2025-07-06 17:10:00"),
    (542, "Peter", "peter@example.com", "2025-05-23 14:00:00"),
    (543, "Quincy", "quincy@example.com", "2025-06-05 12:10:00"),
    (544, "Rob", "rob@example.com", "2025-03-22 13:35:00"),
    (545, "Sophia", "sophia@example.com", "2025-07-09 10:20:00"),
    (546, "Theo", "theo@example.com", "2025-04-02 12:30:00"),
    (547, "Una", "una@example.com", "2025-07-15 16:55:00"),
    (548, "Victor", "victor1@example.com", "2025-05-06 15:40:00"),
    (549, "Wesley", "wesley@example.com", "2025-06-12 11:50:00"),
    (550, "Xena", "xena@example.com", "2025-07-17 8:55:00"),
    (551, "Yara", "yara@example.com", "2025-03-29 10:45:00"),
    (552, "Zoe", "zoe@example.com", "2025-05-05 9:20:00"),
    (553, "Alice2", "alice2@example.com", "2025-07-23 14:30:00"),
    (554, "Bob2", "bob2@example.com", "2025-06-13 11:25:00"),
    (555, "Charlie2", "charlie2@example.com", "2025-04-20 9:55:00"),
    (556, "David2", "david2@example.com", "2025-07-11 10:00:00")
]

# Create DataFrame and convert join_date to timestamp
df_all_customers = spark.createDataFrame(customer_data, schema=customer_schema) \
    .withColumn("join_date", to_timestamp("join_date"))

# Display first few records
df_all_customers.show(60)

+-----------+-------------+--------------------+-------------------+
|customer_id|customer_name|               email|          join_date|
+-----------+-------------+--------------------+-------------------+
|        501|        Alice|   alice@example.com|2025-05-20 10:10:00|
|        502|          Bob|     bob@example.com|2025-06-15 14:00:00|
|        503|      Charlie| charlie@example.com|2025-04-05 09:50:00|
|        504|        David|   david@example.com|2025-07-01 12:25:00|
|        505|         Emma|    emma@example.com|2025-07-10 15:30:00|
|        506|        Frank|   frank@example.com|2025-03-23 17:00:00|
|        507|        Grace|   grace@example.com|2025-05-01 13:20:00|
|        508|        Henry|   henry@example.com|2025-06-07 10:10:00|
|        509|       Isabel|  isabel@example.com|2025-05-25 16:30:00|
|        510|         Jack|    jack@example.com|2025-04-12 11:55:00|
|        511|         Kate|    kate@example.com|2025-06-18 14:10:00|
|        512|         Liam|    liam@example.com|2025-07-05 08:45:00|
|        513|         Mona|    mona@example.com|2025-03-30 15:25:00|
|        514|         Nina|    nina@example.com|2025-04-19 10:35:00|
|        515|        Oscar|   oscar@example.com|2025-05-14 09:15:00|
|        516|         Paul|    paul@example.com|2025-06-03 12:50:00|
|        517|        Quinn|   quinn@example.com|2025-07-13 13:10:00|
|        518|         Rita|    rita@example.com|2025-07-20 11:00:00|
|        519|         Sara|    sara@example.com|2025-06-30 17:40:00|
|        520|          Tom|     tom@example.com|2025-05-18 14:20:00|
|        521|       Ursula|  ursula@example.com|2025-04-01 10:50:00|
|        522|       Victor|  victor@example.com|2025-07-22 16:30:00|
|        523|        Wendy|   wendy@example.com|2025-06-09 13:00:00|
|        524|       Xander|  xander@example.com|2025-05-30 18:05:00|
|        525|       Yvonne|  yvonne@example.com|2025-03-28 14:15:00|
|        526|         Zach|    zach@example.com|2025-04-23 11:30:00|
|        527|         Amos|    amos@example.com|2025-07-07 09:25:00|
|        528|        Bella|   bella@example.com|2025-05-02 12:00:00|
|        529|        Clara|   clara@example.com|2025-06-25 15:10:00|
|        530|          Dan|       d@danmail.com|2025-07-14 14:15:00|
|        531|        Ellie|   ellie@example.com|2025-06-01 08:30:00|
|        532|       Freddy|  freddy@example.com|2025-07-03 12:45:00|
|        533|        Grace|grace@anothermail...|2025-05-15 13:30:00|
|        534|        Harry|   harry@example.com|2025-04-10 17:25:00|
|        535|          Ivy|     ivy@example.com|2025-03-18 16:00:00|
|        536|         John|    john@example.com|2025-07-19 10:50:00|
|        537|          Ken|     ken@example.com|2025-05-12 09:35:00|
|        538|         Lena|    lena@example.com|2025-06-21 13:55:00|
|        539|       Monica|  monica@example.com|2025-03-27 18:40:00|
|        540|         Nash|    nash@example.com|2025-04-15 14:25:00|
|        541|       Olivia|  olivia@example.com|2025-07-06 17:10:00|
|        542|        Peter|   peter@example.com|2025-05-23 14:00:00|
|        543|       Quincy|  quincy@example.com|2025-06-05 12:10:00|
|        544|          Rob|     rob@example.com|2025-03-22 13:35:00|
|        545|       Sophia|  sophia@example.com|2025-07-09 10:20:00|
|        546|         Theo|    theo@example.com|2025-04-02 12:30:00|
|        547|          Una|     una@example.com|2025-07-15 16:55:00|
|        548|       Victor| victor1@example.com|2025-05-06 15:40:00|
|        549|       Wesley|  wesley@example.com|2025-06-12 11:50:00|
|        550|         Xena|    xena@example.com|2025-07-17 08:55:00|
|        551|         Yara|    yara@example.com|2025-03-29 10:45:00|
|        552|          Zoe|     zoe@example.com|2025-05-05 09:20:00|
|        553|       Alice2|  alice2@example.com|2025-07-23 14:30:00|
|        554|         Bob2|    bob2@example.com|2025-06-13 11:25:00|
|        555|     Charlie2|charlie2@example.com|2025-04-20 09:55:00|
|        556|       David2|  david2@example.com|2025-07-11 10:00:00|
+-----------+-------------+--------------------+-------------------+

In [ ]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql import SparkSession

# Start SparkSession (if not already running)
spark = SparkSession.builder.appName("ProductDataset").getOrCreate()

# Define schema
product_schema = StructType([
    StructField("product_id", IntegerType(), True),
    StructField("product_name", StringType(), True),
    StructField("category", StringType(), True)
])

# Product data (truncated here  use full list in your environment)
product_data = [
    (101, "Widget A", "Gadgets"),
    (102, "Widget B", "Gadgets"),
    (103, "Widget C", "Electronics"),
    (104, "Widget D", "Electronics"),
    (105, "Widget E", "Home & Living"),
    (106, "Widget F", "Home & Living"),
    (107, "Widget G", "Furniture"),
    (108, "Widget H", "Gadgets"),
    (109, "Widget I", "Furniture"),
    (110, "Widget J", "Electronics"),
    (111, "Widget K", "Home & Living"),
    (112, "Widget L", "Electronics"),
    (113, "Widget M", "Gadgets"),
    (114, "Widget N", "Furniture"),
    (115, "Widget O", "Gadgets"),
    (116, "Widget P", "Home & Living"),
    (117, "Widget Q", "Electronics"),
    (118, "Widget R", "Furniture"),
    (119, "Widget S", "Gadgets"),
    (120, "Widget T", "Furniture"),
    (121, "Widget U", "Home & Living"),
    (122, "Widget V", "Electronics"),
    (123, "Widget W", "Furniture"),
    (124, "Widget X", "Home & Living"),
    (125, "Widget Y", "Gadgets"),
    (126, "Widget Z", "Electronics"),
    (127, "Widget AA", "Furniture"),
    (128, "Widget AB", "Gadgets"),
    (129, "Widget AC", "Home & Living"),
    (130, "Widget AD", "Furniture"),
    (131, "Widget AE", "Gadgets"),
    (132, "Widget AF", "Electronics"),
    (133, "Widget AG", "Furniture"),
    (134, "Widget AH", "Home & Living"),
    (135, "Widget AI", "Electronics"),
    (136, "Widget AJ", "Furniture"),
    (137, "Widget AK", "Gadgets"),
    (138, "Widget AL", "Home & Living"),
    (139, "Widget AM", "Electronics"),
    (140, "Widget AN", "Furniture"),
    (141, "Widget AO", "Gadgets"),
    (142, "Widget AP", "Electronics"),
    (143, "Widget AQ", "Home & Living"),
    (144, "Widget AR", "Gadgets"),
    (145, "Widget AS", "Furniture"),
    (146, "Widget AT", "Home & Living"),
    (147, "Widget AU", "Electronics"),
    (148, "Widget AV", "Furniture"),
    (149, "Widget AW", "Gadgets"),
    (150, "Widget AX", "Home & Living"),
    (151, "Widget AY", "Electronics"),
    (152, "Widget AZ", "Furniture"),
    (153, "Widget BA", "Gadgets"),
    (154, "Widget BB", "Electronics"),
    (155, "Widget BC", "Home & Living"),
    (156, "Widget BD", "Furniture"),
    (157, "Widget BE", "Gadgets"),
    (158, "Widget BF", "Electronics"),
    (159, "Widget BG", "Home & Living"),
    (160, "Widget BH", "Furniture"),
    (161, "Widget BI", "Gadgets"),
    (162, "Widget BJ", "Electronics"),
    (163, "Widget BK", "Home & Living"),
    (164, "Widget BL", "Furniture"),
    (165, "Widget BM", "Gadgets"),
    (166, "Widget BN", "Electronics"),
    (167, "Widget BO", "Furniture"),
    (168, "Widget BP", "Home & Living"),
    (169, "Widget BQ", "Gadgets"),
    (170, "Widget BR", "Electronics")
]

# Create DataFrame
df_products = spark.createDataFrame(product_data, schema=product_schema)

# Show some records
df_products.show(70)

+----------+------------+-------------+
|product_id|product_name|     category|
+----------+------------+-------------+
|       101|    Widget A|      Gadgets|
|       102|    Widget B|      Gadgets|
|       103|    Widget C|  Electronics|
|       104|    Widget D|  Electronics|
|       105|    Widget E|Home & Living|
|       106|    Widget F|Home & Living|
|       107|    Widget G|    Furniture|
|       108|    Widget H|      Gadgets|
|       109|    Widget I|    Furniture|
|       110|    Widget J|  Electronics|
|       111|    Widget K|Home & Living|
|       112|    Widget L|  Electronics|
|       113|    Widget M|      Gadgets|
|       114|    Widget N|    Furniture|
|       115|    Widget O|      Gadgets|
|       116|    Widget P|Home & Living|
|       117|    Widget Q|  Electronics|
|       118|    Widget R|    Furniture|
|       119|    Widget S|      Gadgets|
|       120|    Widget T|    Furniture|
|       121|    Widget U|Home & Living|
|       122|    Widget V|  Electronics|
|       123|    Widget W|    Furniture|
|       124|    Widget X|Home & Living|
|       125|    Widget Y|      Gadgets|
|       126|    Widget Z|  Electronics|
|       127|   Widget AA|    Furniture|
|       128|   Widget AB|      Gadgets|
|       129|   Widget AC|Home & Living|
|       130|   Widget AD|    Furniture|
|       131|   Widget AE|      Gadgets|
|       132|   Widget AF|  Electronics|
|       133|   Widget AG|    Furniture|
|       134|   Widget AH|Home & Living|
|       135|   Widget AI|  Electronics|
|       136|   Widget AJ|    Furniture|
|       137|   Widget AK|      Gadgets|
|       138|   Widget AL|Home & Living|
|       139|   Widget AM|  Electronics|
|       140|   Widget AN|    Furniture|
|       141|   Widget AO|      Gadgets|
|       142|   Widget AP|  Electronics|
|       143|   Widget AQ|Home & Living|
|       144|   Widget AR|      Gadgets|
|       145|   Widget AS|    Furniture|
|       146|   Widget AT|Home & Living|
|       147|   Widget AU|  Electronics|
|       148|   Widget AV|    Furniture|
|       149|   Widget AW|      Gadgets|
|       150|   Widget AX|Home & Living|
|       151|   Widget AY|  Electronics|
|       152|   Widget AZ|    Furniture|
|       153|   Widget BA|      Gadgets|
|       154|   Widget BB|  Electronics|
|       155|   Widget BC|Home & Living|
|       156|   Widget BD|    Furniture|
|       157|   Widget BE|      Gadgets|
|       158|   Widget BF|  Electronics|
|       159|   Widget BG|Home & Living|
|       160|   Widget BH|    Furniture|
|       161|   Widget BI|      Gadgets|
|       162|   Widget BJ|  Electronics|
|       163|   Widget BK|Home & Living|
|       164|   Widget BL|    Furniture|
|       165|   Widget BM|      Gadgets|
|       166|   Widget BN|  Electronics|
|       167|   Widget BO|    Furniture|
|       168|   Widget BP|Home & Living|
|       169|   Widget BQ|      Gadgets|
|       170|   Widget BR|  Electronics|
+----------+------------+-------------+

In [ ]:
# Re-import necessary components
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType
from pyspark.sql.functions import to_timestamp

# Define schema for full sales data
sales_schema = StructType([
    StructField("sale_id", IntegerType(), True),
    StructField("product_id", IntegerType(), True),
    StructField("customer_id", IntegerType(), True),
    StructField("sale_date", StringType(), True),
    StructField("quantity", IntegerType(), True),
    StructField("price", DoubleType(), True),
])

# Full 70-entry sales dataset
sales_data_full = [
    (1001, 101, 501, "2025-07-10 8:23:00", 3, 25.5), (1002, 102, 502, "2025-07-11 9:45:00", 2, 15.0),
    (1003, 103, 503, "2025-07-12 10:15:00", 1, 30.0), (1004, 101, 504, "2025-07-13 12:20:00", 5, 25.5),
    (1005, 105, 505, "2025-07-14 14:35:00", 10, 45.0), (1006, 102, 506, "2025-07-15 16:00:00", 4, 15.0),
    (1007, 106, 507, "2025-07-16 17:10:00", 3, 40.0), (1008, 107, 508, "2025-07-17 18:25:00", 2, 60.0),
    (1009, 108, 509, "2025-07-18 19:30:00", 7, 25.0), (1010, 109, 510, "2025-07-19 20:45:00", 6, 50.0),
    (1011, 110, 511, "2025-07-20 21:55:00", 4, 12.5), (1012, 111, 512, "2025-07-21 22:30:00", 9, 10.0),
    (1013, 112, 513, "2025-07-22 23:40:00", 8, 22.5), (1014, 113, 514, "2025-07-23 9:15:00", 3, 17.0),
    (1015, 114, 515, "2025-07-24 10:35:00", 2, 45.5), (1016, 115, 516, "2025-07-25 11:45:00", 4, 32.0),
    (1017, 116, 517, "2025-07-26 13:00:00", 5, 28.0), (1018, 117, 518, "2025-07-27 14:15:00", 1, 50.0),
    (1019, 118, 519, "2025-07-28 15:30:00", 6, 18.5), (1020, 119, 520, "2025-07-29 16:45:00", 7, 40.0),
    (1021, 120, 521, "2025-07-30 17:50:00", 3, 30.5), (1022, 121, 522, "2025-07-31 18:20:00", 2, 22.0),
    (1023, 122, 523, "2025-08-01 19:00:00", 4, 25.0), (1024, 123, 524, "2025-08-02 20:10:00", 9, 15.5),
    (1025, 124, 525, "2025-08-03 21:00:00", 5, 27.5), (1026, 125, 526, "2025-08-04 22:25:00", 8, 33.0),
    (1027, 126, 527, "2025-08-05 23:30:00", 6, 40.0), (1028, 127, 528, "2025-08-06 9:50:00", 7, 10.0),
    (1029, 128, 529, "2025-08-07 10:10:00", 4, 22.5), (1030, 129, 530, "2025-08-08 11:00:00", 2, 38.0),
    (1031, 130, 531, "2025-08-09 12:20:00", 5, 50.0), (1032, 131, 532, "2025-08-10 13:30:00", 8, 29.5),
    (1033, 132, 533, "2025-08-11 14:40:00", 3, 44.0), (1034, 133, 534, "2025-08-12 15:00:00", 7, 16.5),
    (1035, 134, 535, "2025-08-13 16:00:00", 9, 20.0), (1036, 135, 536, "2025-08-14 17:10:00", 2, 28.5),
    (1037, 136, 537, "2025-08-15 18:30:00", 4, 32.0), (1038, 137, 538, "2025-08-16 19:00:00", 5, 23.0),
    (1039, 138, 539, "2025-08-17 20:15:00", 6, 35.0), (1040, 139, 540, "2025-08-18 21:25:00", 3, 18.5),
    (1041, 140, 541, "2025-08-19 22:00:00", 2, 40.0), (1042, 141, 542, "2025-08-20 23:10:00", 8, 21.5),
    (1043, 142, 543, "2025-08-21 9:15:00", 4, 47.5), (1044, 143, 544, "2025-08-22 10:30:00", 7, 12.0),
    (1045, 144, 545, "2025-08-23 11:40:00", 3, 30.5), (1046, 145, 546, "2025-08-24 12:55:00", 6, 15.0),
    (1047, 146, 547, "2025-08-25 13:10:00", 5, 36.0), (1048, 147, 548, "2025-08-26 14:25:00", 9, 22.0),
    (1049, 148, 549, "2025-08-27 15:40:00", 2, 29.0), (1050, 149, 550, "2025-08-28 16:50:00", 1, 50.0),
    (1051, 101, 551, "2025-08-29 17:55:00", 3, 25.5), (1052, 102, 552, "2025-08-30 18:45:00", 4, 15.0),
    (1053, 103, 553, "2025-08-31 19:30:00", 7, 30.0), (1054, 104, 554, "2025-09-01 20:40:00", 5, 40.0),
    (1055, 105, 555, "2025-09-02 21:10:00", 2, 45.0), (1056, 106, 556, "2025-09-03 22:30:00", 8, 50.0),
    (1057, 107, 557, "2025-09-04 23:50:00", 3, 20.5), (1058, 108, 558, "2025-09-05 9:30:00", 1, 60.0),
    (1059, 109, 559, "2025-09-06 10:40:00", 6, 18.0), (1060, 110, 560, "2025-09-07 11:50:00", 5, 32.0),
    (1061, 111, 561, "2025-09-08 13:00:00", 9, 22.5), (1062, 112, 562, "2025-09-09 14:10:00", 2, 25.5),
    (1063, 113, 563, "2025-09-10 15:25:00", 7, 38.0), (1064, 114, 564, "2025-09-11 16:35:00", 3, 27.5),
    (1065, 115, 565, "2025-09-12 17:45:00", 8, 44.5), (1066, 116, 566, "2025-09-13 18:55:00", 6, 20.0),
    (1067, 117, 567, "2025-09-14 20:00:00", 2, 32.0), (1068, 118, 568, "2025-09-15 21:10:00", 5, 27.5),
    (1069, 119, 569, "2025-09-16 22:15:00", 4, 50.0), (1070, 120, 570, "2025-09-17 23:00:00", 3, 40.0)
]

# Create DataFrame and convert sale_date to timestamp
df_sales_full = spark.createDataFrame(sales_data_full, schema=sales_schema) \
    .withColumn("sale_date", to_timestamp("sale_date"))

# Display first 10 records to confirm
df_sales_full.show(70)

+-------+----------+-----------+-------------------+--------+-----+
|sale_id|product_id|customer_id|          sale_date|quantity|price|
+-------+----------+-----------+-------------------+--------+-----+
|   1001|       101|        501|2025-07-10 08:23:00|       3| 25.5|
|   1002|       102|        502|2025-07-11 09:45:00|       2| 15.0|
|   1003|       103|        503|2025-07-12 10:15:00|       1| 30.0|
|   1004|       101|        504|2025-07-13 12:20:00|       5| 25.5|
|   1005|       105|        505|2025-07-14 14:35:00|      10| 45.0|
|   1006|       102|        506|2025-07-15 16:00:00|       4| 15.0|
|   1007|       106|        507|2025-07-16 17:10:00|       3| 40.0|
|   1008|       107|        508|2025-07-17 18:25:00|       2| 60.0|
|   1009|       108|        509|2025-07-18 19:30:00|       7| 25.0|
|   1010|       109|        510|2025-07-19 20:45:00|       6| 50.0|
|   1011|       110|        511|2025-07-20 21:55:00|       4| 12.5|
|   1012|       111|        512|2025-07-21 22:30:00|       9| 10.0|
|   1013|       112|        513|2025-07-22 23:40:00|       8| 22.5|
|   1014|       113|        514|2025-07-23 09:15:00|       3| 17.0|
|   1015|       114|        515|2025-07-24 10:35:00|       2| 45.5|
|   1016|       115|        516|2025-07-25 11:45:00|       4| 32.0|
|   1017|       116|        517|2025-07-26 13:00:00|       5| 28.0|
|   1018|       117|        518|2025-07-27 14:15:00|       1| 50.0|
|   1019|       118|        519|2025-07-28 15:30:00|       6| 18.5|
|   1020|       119|        520|2025-07-29 16:45:00|       7| 40.0|
|   1021|       120|        521|2025-07-30 17:50:00|       3| 30.5|
|   1022|       121|        522|2025-07-31 18:20:00|       2| 22.0|
|   1023|       122|        523|2025-08-01 19:00:00|       4| 25.0|
|   1024|       123|        524|2025-08-02 20:10:00|       9| 15.5|
|   1025|       124|        525|2025-08-03 21:00:00|       5| 27.5|
|   1026|       125|        526|2025-08-04 22:25:00|       8| 33.0|
|   1027|       126|        527|2025-08-05 23:30:00|       6| 40.0|
|   1028|       127|        528|2025-08-06 09:50:00|       7| 10.0|
|   1029|       128|        529|2025-08-07 10:10:00|       4| 22.5|
|   1030|       129|        530|2025-08-08 11:00:00|       2| 38.0|
|   1031|       130|        531|2025-08-09 12:20:00|       5| 50.0|
|   1032|       131|        532|2025-08-10 13:30:00|       8| 29.5|
|   1033|       132|        533|2025-08-11 14:40:00|       3| 44.0|
|   1034|       133|        534|2025-08-12 15:00:00|       7| 16.5|
|   1035|       134|        535|2025-08-13 16:00:00|       9| 20.0|
|   1036|       135|        536|2025-08-14 17:10:00|       2| 28.5|
|   1037|       136|        537|2025-08-15 18:30:00|       4| 32.0|
|   1038|       137|        538|2025-08-16 19:00:00|       5| 23.0|
|   1039|       138|        539|2025-08-17 20:15:00|       6| 35.0|
|   1040|       139|        540|2025-08-18 21:25:00|       3| 18.5|
|   1041|       140|        541|2025-08-19 22:00:00|       2| 40.0|
|   1042|       141|        542|2025-08-20 23:10:00|       8| 21.5|
|   1043|       142|        543|2025-08-21 09:15:00|       4| 47.5|
|   1044|       143|        544|2025-08-22 10:30:00|       7| 12.0|
|   1045|       144|        545|2025-08-23 11:40:00|       3| 30.5|
|   1046|       145|        546|2025-08-24 12:55:00|       6| 15.0|
|   1047|       146|        547|2025-08-25 13:10:00|       5| 36.0|
|   1048|       147|        548|2025-08-26 14:25:00|       9| 22.0|
|   1049|       148|        549|2025-08-27 15:40:00|       2| 29.0|
|   1050|       149|        550|2025-08-28 16:50:00|       1| 50.0|
|   1051|       101|        551|2025-08-29 17:55:00|       3| 25.5|
|   1052|       102|        552|2025-08-30 18:45:00|       4| 15.0|
|   1053|       103|        553|2025-08-31 19:30:00|       7| 30.0|
|   1054|       104|        554|2025-09-01 20:40:00|       5| 40.0|
|   1055|       105|        555|2025-09-02 21:10:00|       2| 45.0|
|   1056|       106|        556|2025-09-03 22:30:00|       8| 50.0|
|   1057|       107|        557|2025-09-04 23:50:00|       3| 20.5|
|   1058|       108|        558|2025-09-05 09:30:00|       1| 60.0|
|   1059|       109|        559|2025-09-06 10:40:00|       6| 18.0|
|   1060|       110|        560|2025-09-07 11:50:00|       5| 32.0|
|   1061|       111|        561|2025-09-08 13:00:00|       9| 22.5|
|   1062|       112|        562|2025-09-09 14:10:00|       2| 25.5|
|   1063|       113|        563|2025-09-10 15:25:00|       7| 38.0|
|   1064|       114|        564|2025-09-11 16:35:00|       3| 27.5|
|   1065|       115|        565|2025-09-12 17:45:00|       8| 44.5|
|   1066|       116|        566|2025-09-13 18:55:00|       6| 20.0|
|   1067|       117|        567|2025-09-14 20:00:00|       2| 32.0|
|   1068|       118|        568|2025-09-15 21:10:00|       5| 27.5|
|   1069|       119|        569|2025-09-16 22:15:00|       4| 50.0|
|   1070|       120|        570|2025-09-17 23:00:00|       3| 40.0|
+-------+----------+-----------+-------------------+--------+-----+

# WINDOWS FUNCTION

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.appName("AdvancedOps").getOrCreate()

data = [
    (1, "Alice", 2000, ["math", "science"], {"city": "NYC", "zip": "10001"}),
    (2, "Bob", 1500, ["english"], {"city": "SF", "zip": "94105"}),
    (3, "Charlie", 2200, ["math", "history", "science"], {"city": "NYC", "zip": "10001"}),
    (4, "David", 1200, ["art"], {"city": "LA", "zip": "90001"}),
]

df = spark.createDataFrame(data, schema=["id", "name", "salary", "subjects", "address"])
df.show(truncate=False)

+---+-------+------+------------------------+---------------------------+
|id |name   |salary|subjects                |address                    |
+---+-------+------+------------------------+---------------------------+
|1  |Alice  |2000  |[math, science]         |{zip -> 10001, city -> NYC}|
|2  |Bob    |1500  |[english]               |{zip -> 94105, city -> SF} |
|3  |Charlie|2200  |[math, history, science]|{zip -> 10001, city -> NYC}|
|4  |David  |1200  |[art]                   |{zip -> 90001, city -> LA} |
+---+-------+------+------------------------+---------------------------+

In [2]:
from pyspark.sql.window import Window

# Define window specification
window_spec = Window.partitionBy("address.city").orderBy("salary")
df.withColumn("rank", rank().over(window_spec)).show(truncate=False)

+---+-------+------+------------------------+---------------------------+----+
|id |name   |salary|subjects                |address                    |rank|
+---+-------+------+------------------------+---------------------------+----+
|4  |David  |1200  |[art]                   |{zip -> 90001, city -> LA} |1   |
|1  |Alice  |2000  |[math, science]         |{zip -> 10001, city -> NYC}|1   |
|3  |Charlie|2200  |[math, history, science]|{zip -> 10001, city -> NYC}|2   |
|2  |Bob    |1500  |[english]               |{zip -> 94105, city -> SF} |1   |
+---+-------+------+------------------------+---------------------------+----+

In [3]:
from pyspark.sql.window import Window
from pyspark.sql.functions import col, row_number, rank, dense_rank, max, sum, avg

# Employee Data
data = [
    (1, "John", "Sales", 3000),
    (2, "Jane", "Finance", 4000),
    (3, "Mike", "Sales", 3500),
    (4, "Alice", "Finance", 3800),
    (5, "Bob", "IT", 4500),
    (6, "Tom", "Sales", 3700),
    (7, "Jerry", "Finance", 4200),
    (8, "Sam", "IT", 4700),
    (9, "Steve", "Sales", 3100),
    (10, "Rachel", "IT", 4600)
]
columns = ["EmpID", "Name", "Department", "Salary"]
df = spark.createDataFrame(data, columns)

df.show()

+-----+------+----------+------+
|EmpID|  Name|Department|Salary|
+-----+------+----------+------+
|    1|  John|     Sales|  3000|
|    2|  Jane|   Finance|  4000|
|    3|  Mike|     Sales|  3500|
|    4| Alice|   Finance|  3800|
|    5|   Bob|        IT|  4500|
|    6|   Tom|     Sales|  3700|
|    7| Jerry|   Finance|  4200|
|    8|   Sam|        IT|  4700|
|    9| Steve|     Sales|  3100|
|   10|Rachel|        IT|  4600|
+-----+------+----------+------+

In [5]:
WindowSpec = Window.partitionBy("Department").orderBy(col("Salary").desc())
df.withColumn("Rank", rank().over(WindowSpec)).show()

+-----+------+----------+------+----+
|EmpID|  Name|Department|Salary|Rank|
+-----+------+----------+------+----+
|    7| Jerry|   Finance|  4200|   1|
|    2|  Jane|   Finance|  4000|   2|
|    4| Alice|   Finance|  3800|   3|
|    8|   Sam|        IT|  4700|   1|
|   10|Rachel|        IT|  4600|   2|
|    5|   Bob|        IT|  4500|   3|
|    6|   Tom|     Sales|  3700|   1|
|    3|  Mike|     Sales|  3500|   2|
|    9| Steve|     Sales|  3100|   3|
|    1|  John|     Sales|  3000|   4|
+-----+------+----------+------+----+

In [6]:
WindowSpec = Window.partitionBy("Department")
df.withColumn("MaxSalary", max(col("Salary")).over(WindowSpec)).show()

+-----+------+----------+------+---------+
|EmpID|  Name|Department|Salary|MaxSalary|
+-----+------+----------+------+---------+
|    2|  Jane|   Finance|  4000|     4200|
|    4| Alice|   Finance|  3800|     4200|
|    7| Jerry|   Finance|  4200|     4200|
|    5|   Bob|        IT|  4500|     4700|
|    8|   Sam|        IT|  4700|     4700|
|   10|Rachel|        IT|  4600|     4700|
|    1|  John|     Sales|  3000|     3700|
|    3|  Mike|     Sales|  3500|     3700|
|    6|   Tom|     Sales|  3700|     3700|
|    9| Steve|     Sales|  3100|     3700|
+-----+------+----------+------+---------+

In [8]:
df.groupBy("Department").agg(max("Salary").alias("Max Salary")).show()

+----------+----------+
|Department|Max Salary|
+----------+----------+
|     Sales|      3700|
|   Finance|      4200|
|        IT|      4700|
+----------+----------+

In [13]:
df.groupBy("Department").agg(sum("Salary").alias("Total Salary")).show()

+----------+------------+
|Department|Total Salary|
+----------+------------+
|     Sales|       13300|
|   Finance|       12000|
|        IT|       13800|
+----------+------------+

In [17]:
WindowSpec = Window.partitionBy("Department").orderBy("Salary").rowsBetween(Window.unboundedPreceding, 0)
df.withColumn("Cumulative Salary", sum("Salary").over(WindowSpec)).show()

+-----+------+----------+------+-----------------+
|EmpID|  Name|Department|Salary|Cumulative Salary|
+-----+------+----------+------+-----------------+
|    4| Alice|   Finance|  3800|             3800|
|    2|  Jane|   Finance|  4000|             7800|
|    7| Jerry|   Finance|  4200|            12000|
|    5|   Bob|        IT|  4500|             4500|
|   10|Rachel|        IT|  4600|             9100|
|    8|   Sam|        IT|  4700|            13800|
|    1|  John|     Sales|  3000|             3000|
|    9| Steve|     Sales|  3100|             6100|
|    3|  Mike|     Sales|  3500|             9600|
|    6|   Tom|     Sales|  3700|            13300|
+-----+------+----------+------+-----------------+

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import col, sum

In [19]:
window_spec = Window.partitionBy("Department").orderBy("Salary")
window_current = Window.rowsBetween(0,0)
df.withColumn("Salary_currentoniy", sum("Salary").over(window_current)).show()

+-----+------+----------+------+------------------+
|EmpID|  Name|Department|Salary|Salary_currentoniy|
+-----+------+----------+------+------------------+
|    1|  John|     Sales|  3000|              3000|
|    2|  Jane|   Finance|  4000|              4000|
|    3|  Mike|     Sales|  3500|              3500|
|    4| Alice|   Finance|  3800|              3800|
|    5|   Bob|        IT|  4500|              4500|
|    6|   Tom|     Sales|  3700|              3700|
|    7| Jerry|   Finance|  4200|              4200|
|    8|   Sam|        IT|  4700|              4700|
|    9| Steve|     Sales|  3100|              3100|
|   10|Rachel|        IT|  4600|              4600|
+-----+------+----------+------+------------------+

In [20]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.appName("AdvancedOps").getOrCreate()

data = [
    (1, "Alice", 2000, ["math", "science"], {"city": "NYC", "zip": "10001"}),
    (2, "Bob", 1500, ["english"], {"city": "SF", "zip": "94105"}),
    (3, "Charlie", 2200, ["math", "history", "science"], {"city": "NYC", "zip": "10001"}),
    (4, "David", 1200, ["art"], {"city": "LA", "zip": "90001"}),
]

df = spark.createDataFrame(data, schema=["id", "name", "salary", "subjects", "address"])
df.show(truncate=False)

+---+-------+------+------------------------+---------------------------+
|id |name   |salary|subjects                |address                    |
+---+-------+------+------------------------+---------------------------+
|1  |Alice  |2000  |[math, science]         |{zip -> 10001, city -> NYC}|
|2  |Bob    |1500  |[english]               |{zip -> 94105, city -> SF} |
|3  |Charlie|2200  |[math, history, science]|{zip -> 10001, city -> NYC}|
|4  |David  |1200  |[art]                   |{zip -> 90001, city -> LA} |
+---+-------+------+------------------------+---------------------------+

In [22]:
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import udf

@udf(IntegerType())
def subject_count(subjects):
  return len(subjects)

df.withColumn("subject_count", subject_count(df["subjects"])).show(truncate=False)

+---+-------+------+------------------------+---------------------------+-------------+
|id |name   |salary|subjects                |address                    |subject_count|
+---+-------+------+------------------------+---------------------------+-------------+
|1  |Alice  |2000  |[math, science]         |{zip -> 10001, city -> NYC}|2            |
|2  |Bob    |1500  |[english]               |{zip -> 94105, city -> SF} |1            |
|3  |Charlie|2200  |[math, history, science]|{zip -> 10001, city -> NYC}|3            |
|4  |David  |1200  |[art]                   |{zip -> 90001, city -> LA} |1            |
+---+-------+------+------------------------+---------------------------+-------------+

In [23]:
import pandas as pd
from pyspark.sql.functions import pandas_udf

@pandas_udf("integer")
def subject_count(subjects):
  return subjects.apply(len)

df.withColumn("subject_count", subject_count(df["subjects"])).show(truncate=False)

+---+-------+------+------------------------+---------------------------+-------------+
|id |name   |salary|subjects                |address                    |subject_count|
+---+-------+------+------------------------+---------------------------+-------------+
|1  |Alice  |2000  |[math, science]         |{zip -> 10001, city -> NYC}|2            |
|2  |Bob    |1500  |[english]               |{zip -> 94105, city -> SF} |1            |
|3  |Charlie|2200  |[math, history, science]|{zip -> 10001, city -> NYC}|3            |
|4  |David  |1200  |[art]                   |{zip -> 90001, city -> LA} |1            |
+---+-------+------+------------------------+---------------------------+-------------+

In [25]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("PySpark Use Case Activities") \
    .getOrCreate()

from pyspark.sql.functions import col, rank, avg, udf, pandas_udf
from pyspark.sql.window import Window
import pandas as pd

employees_data = [
    (1, "Alice", "HR", 3000),
    (2, "Bob", "IT", 4000),
    (3, "Cathy", "HR", 3500),
    (4, "David", "IT", 4500),
    (5, "Eve", "Finance", 5000),
    (6, "Frank", "Finance", 4800),
]

employees_df = spark.createDataFrame(employees_data, ["id", "name", "department", "salary"])
employees_df.show()

departments_data = [
    ("HR", "New York"),
    ("IT", "San Francisco"),
    ("Finance", "Chicago"),
]

departments_df = spark.createDataFrame(departments_data, ["department", "location"])
departments_df.show()

+---+-----+----------+------+
| id| name|department|salary|
+---+-----+----------+------+
|  1|Alice|        HR|  3000|
|  2|  Bob|        IT|  4000|
|  3|Cathy|        HR|  3500|
|  4|David|        IT|  4500|
|  5|  Eve|   Finance|  5000|
|  6|Frank|   Finance|  4800|
+---+-----+----------+------+

+----------+-------------+
|department|     location|
+----------+-------------+
|        HR|     New York|
|        IT|San Francisco|
|   Finance|      Chicago|
+----------+-------------+

In [26]:
from pyspark.sql.functions import rank
from pyspark.sql.window import Window

# Define a window partitioned by department and ordered by salary descending
window_spec = Window.partitionBy("department").orderBy(col("salary").desc())

# Add rank column to employees DataFrame
ranked_df = employees_df.withColumn("rank", rank().over(window_spec))

# Show the ranked result
ranked_df.show()

+---+-----+----------+------+----+
| id| name|department|salary|rank|
+---+-----+----------+------+----+
|  5|  Eve|   Finance|  5000|   1|
|  6|Frank|   Finance|  4800|   2|
|  3|Cathy|        HR|  3500|   1|
|  1|Alice|        HR|  3000|   2|
|  4|David|        IT|  4500|   1|
|  2|  Bob|        IT|  4000|   2|
+---+-----+----------+------+----+

In [33]:
from pyspark.sql.functions import rank
from pyspark.sql.window import Window
Window.partitionBy("department")
employees_df.withColumn("rank", rank().over(window_spec)).show()

+---+-----+----------+------+----+
| id| name|department|salary|rank|
+---+-----+----------+------+----+
|  5|  Eve|   Finance|  5000|   1|
|  6|Frank|   Finance|  4800|   2|
|  3|Cathy|        HR|  3500|   1|
|  1|Alice|        HR|  3000|   2|
|  4|David|        IT|  4500|   1|
|  2|  Bob|        IT|  4000|   2|
+---+-----+----------+------+----+

In [27]:
from pyspark.sql.functions import avg
from pyspark.sql.window import Window

# Define the window spec partitioned by department
window_spec_avg = Window.partitionBy("department")

# Add average salary column to employees DataFrame
avg_salary_df = employees_df.withColumn("avg_salary", avg("salary").over(window_spec_avg))

# Show result
avg_salary_df.show()

+---+-----+----------+------+----------+
| id| name|department|salary|avg_salary|
+---+-----+----------+------+----------+
|  5|  Eve|   Finance|  5000|    4900.0|
|  6|Frank|   Finance|  4800|    4900.0|
|  1|Alice|        HR|  3000|    3250.0|
|  3|Cathy|        HR|  3500|    3250.0|
|  2|  Bob|        IT|  4000|    4250.0|
|  4|David|        IT|  4500|    4250.0|
+---+-----+----------+------+----------+

In [32]:
from pyspark.sql.functions import avg
from pyspark.sql.window import Window
Window.partitionBy("department")
employees_df.withColumn("avg_salary", avg("salary").over(window_spec_avg)).show()

+---+-----+----------+------+----------+
| id| name|department|salary|avg_salary|
+---+-----+----------+------+----------+
|  5|  Eve|   Finance|  5000|    4900.0|
|  6|Frank|   Finance|  4800|    4900.0|
|  1|Alice|        HR|  3000|    3250.0|
|  3|Cathy|        HR|  3500|    3250.0|
|  2|  Bob|        IT|  4000|    4250.0|
|  4|David|        IT|  4500|    4250.0|
+---+-----+----------+------+----------+

# complex data set

In [35]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode

spark = SparkSession.builder.appName("AdvancedOps").getOrCreate()

data = [
    ("John", ["Python", "Java"]),
    ("Jane", ["SQL", "R", "Scala"]),
    ("Mike", [])
]
columns = ["Name", "Skills"]

df = spark.createDataFrame(data, columns)
df.show(truncate=False)

+----+---------------+
|Name|Skills         |
+----+---------------+
|John|[Python, Java] |
|Jane|[SQL, R, Scala]|
|Mike|[]             |
+----+---------------+

In [38]:
df_exploded = df.withColumn("Skills_Exploded", explode("Skills"))
df_exploded.show(truncate=False)

+----+---------------+---------------+
|Name|Skills         |Skills_Exploded|
+----+---------------+---------------+
|John|[Python, Java] |Python         |
|John|[Python, Java] |Java           |
|Jane|[SQL, R, Scala]|SQL            |
|Jane|[SQL, R, Scala]|R              |
|Jane|[SQL, R, Scala]|Scala          |
+----+---------------+---------------+

In [39]:
df.createOrReplaceTempView("people")

In [42]:
a = spark.sql("""
    select name, skill
    from people
    lateral view explode(skills) as skill
""")
a.show(truncate=False)

+----+------+
|name|skill |
+----+------+
|John|Python|
|John|Java  |
|Jane|SQL   |
|Jane|R     |
|Jane|Scala |
+----+------+

In [43]:
data = [
    ("ProductA", "Jan", 100),
    ("ProductA", "Feb", 150),
    ("ProductA", "Mar", 120),
    ("ProductB", "Jan", 200),
    ("ProductB", "Feb", 230),
    ("ProductB", "Mar", 210),
]
columns = ["Product", "Month", "Sales"]

df = spark.createDataFrame(data, columns)
df.show()

+--------+-----+-----+
| Product|Month|Sales|
+--------+-----+-----+
|ProductA|  Jan|  100|
|ProductA|  Feb|  150|
|ProductA|  Mar|  120|
|ProductB|  Jan|  200|
|ProductB|  Feb|  230|
|ProductB|  Mar|  210|
+--------+-----+-----+

In [44]:
pivot_df = df.groupBy("Product").pivot("Month").sum("Sales")
pivot_df.show()

+--------+---+---+---+
| Product|Feb|Jan|Mar|
+--------+---+---+---+
|ProductB|230|200|210|
|ProductA|150|100|120|
+--------+---+---+---+

In [46]:
df.groupBy("Product").pivot("Month").sum("sales")

unpivot_df = pivot_df.selectExpr(
    "Product",
    "stack(3, 'Jan', Jan, 'Feb', Feb, 'Mar', Mar) as (Month, Sales)"
)
unpivot_df.show()

+--------+-----+-----+
| Product|Month|Sales|
+--------+-----+-----+
|ProductB|  Jan|  200|
|ProductB|  Feb|  230|
|ProductB|  Mar|  210|
|ProductA|  Jan|  100|
|ProductA|  Feb|  150|
|ProductA|  Mar|  120|
+--------+-----+-----+

#  RDD

In [30]:
from pyspark import SparkContext, SparkConf

# Stop any existing SparkContext before creating a new one
try:
    sc.stop()
except Exception as e:
    print(f"No existing SparkContext to stop or an error occurred: {e}")
    pass # No existing SparkContext


conf = SparkConf().setAppName("mysparkapp").setMaster("local[*]")
sc = SparkContext(conf=conf)


rdd = sc.parallelize({1, 2, 3, 4, 5})

rdd_mapped = rdd.map(lambda x: (x, x**2))

print(rdd_mapped.collect())

# Apply the filter to the second element of the tuple (the squared value)
rdd_filtered = rdd_mapped.filter(lambda x: x[1] % 2 == 0)
print(rdd_filtered.collect())


rdd_redused = rdd_filtered.reduceByKey(lambda x, y: x + y)
print(rdd_filtered.collect())

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]
[(2, 4), (4, 16)]
[(2, 4), (4, 16)]

In [39]:
from pyspark import SparkContext, SparkConf

#  Stop any existing SparkContext
try:
    sc.stop()
except:
    pass

conf = SparkConf().setAppName("MySparkApp").setMaster("local[*]")
sc = SparkContext(conf=conf)

rdd = sc.parallelize([1,2,3,4,5])
rdd_mapped = rdd.map(lambda x: x*2)
print(rdd_mapped.collect())

rdd_filtered = rdd.filter(lambda x: x%2 == 0)
print(rdd_filtered.collect())

rdd_redused = rdd_filtered.reduceByKey(lambda x, y: x + y)
print(rdd_filtered.collect())

rdd = sc.parallelize([4, 5, 6, ])

rdd_flat = rdd.flatMap(lambda x: range(x, x + 3))
print(rdd_flat.collect())

rdd = sc.parallelize(["hellow", "world"])

rdd_flat = rdd.flatMap(lambda x: list(x))
print(rdd_flat.collect())

rdd = sc.parallelize([[1,2], [3,4], [5]])
rdd_flat = rdd.flatMap(lambda x: x)
print(rdd_flat.collect())


sc.stop()  #  Stop after work

[2, 4, 6, 8, 10]
[2, 4]
[2, 4]
[4, 5, 6, 5, 6, 7, 6, 7, 8]
['h', 'e', 'l', 'l', 'o', 'w', 'w', 'o', 'r', 'l', 'd']
[1, 2, 3, 4, 5]

In [41]:
from pyspark import SparkContext, SparkConf

#  Stop any existing SparkContext
try:
    sc.stop()
except:
    pass

conf = SparkConf().setAppName("MySparkApp").setMaster("local[*]")
sc = SparkContext(conf=conf)

# input: 1,2,3,4,5
rdd = sc.parallelize([1,2,3,4,5])
rdd_group = rdd.groupBy(lambda x:"even" if x % 2 == 0 else "odd")
print([(key, list(value)) for (key, value) in rdd_group.collect()])

[('even', [2, 4]), ('odd', [1, 3, 5])]

In [42]:
rdd = sc.parallelize([1,2,3,4,5])
rdd_group = rdd.groupBy(lambda x:"even" if x % 2 == 0 else "odd")
print([(key, list(value)) for (key, value) in rdd_group.collect()])

[('even', [2, 4]), ('odd', [1, 3, 5])]

In [43]:
data = [
    (1, "John", "HR", 5000),
    (2, "Jane", "IT", 8000),
    (3, "Mike", "IT", 6000),
    (4, "Sara", "Finance", 7000),
    (5, "David", "HR", 5500)
]

from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder.appName("DataFrameOperations").getOrCreate()

# Define column names
columns = ["ID", "Name", "Department", "Salary"]

# Create a DataFrame from the sample data
df = spark.createDataFrame(data, columns)

# Show the DataFrame
df.show()

+---+-----+----------+------+
| ID| Name|Department|Salary|
+---+-----+----------+------+
|  1| John|        HR|  5000|
|  2| Jane|        IT|  8000|
|  3| Mike|        IT|  6000|
|  4| Sara|   Finance|  7000|
|  5|David|        HR|  5500|
+---+-----+----------+------+

In [44]:
df.select("Name", "salary").show()

+-----+------+
| Name|salary|
+-----+------+
| John|  5000|
| Jane|  8000|
| Mike|  6000|
| Sara|  7000|
|David|  5500|
+-----+------+

In [45]:
df.filter(df["salary"] > 6000).show()

+---+----+----------+------+
| ID|Name|Department|Salary|
+---+----+----------+------+
|  2|Jane|        IT|  8000|
|  4|Sara|   Finance|  7000|
+---+----+----------+------+

In [74]:
from pyspark.sql.functions import col

df = df.withColumn("Bonus", df["salary"] * 0.1)
df.show()

+-----+-----+----------+------+-----+
|EmpID| Name|Department|Salary|Bonus|
+-----+-----+----------+------+-----+
|    1|Alice|     Sales|  3000|300.0|
|    2|  Bob|        IT|  4000|400.0|
|    3|Cathy|        HR|  3500|350.0|
|    4|David|     Sales|  4500|450.0|
|    5|  Eva|        IT|  4200|420.0|
+-----+-----+----------+------+-----+

In [49]:
df = df.drop("Bonus")
df.show()

+---+-----+----------+------+
| ID| Name|Department|Salary|
+---+-----+----------+------+
|  1| John|        HR|  5000|
|  2| Jane|        IT|  8000|
|  3| Mike|        IT|  6000|
|  4| Sara|   Finance|  7000|
|  5|David|        HR|  5500|
+---+-----+----------+------+

In [50]:
df = df.withColumnRenamed("salary", "salary_after_tax")
df.show()

+---+-----+----------+----------------+
| ID| Name|Department|salary_after_tax|
+---+-----+----------+----------------+
|  1| John|        HR|            5000|
|  2| Jane|        IT|            8000|
|  3| Mike|        IT|            6000|
|  4| Sara|   Finance|            7000|
|  5|David|        HR|            5500|
+---+-----+----------+----------------+

In [52]:
from pyspark.sql.functions import avg

df.groupBy("Department").agg(avg("salary_after_tax").alias("Avg_Salary")).show()

+----------+----------+
|Department|Avg_Salary|
+----------+----------+
|        HR|    5250.0|
|        IT|    7000.0|
|   Finance|    7000.0|
+----------+----------+

In [53]:
df.sort(df["salary_after_tax"].desc()).show()

+---+-----+----------+----------------+
| ID| Name|Department|salary_after_tax|
+---+-----+----------+----------------+
|  2| Jane|        IT|            8000|
|  4| Sara|   Finance|            7000|
|  3| Mike|        IT|            6000|
|  5|David|        HR|            5500|
|  1| John|        HR|            5000|
+---+-----+----------+----------------+

In [54]:
df.sort(df["salary_after_tax"].asc()).show(3)

+---+-----+----------+----------------+
| ID| Name|Department|salary_after_tax|
+---+-----+----------+----------------+
|  1| John|        HR|            5000|
|  5|David|        HR|            5500|
|  3| Mike|        IT|            6000|
+---+-----+----------+----------------+
only showing top 3 rows

In [58]:
data_list = df.collect()

for row in data_list:
    print((row))

Row(ID=1, Name='John', Department='HR', salary_after_tax=5000)
Row(ID=2, Name='Jane', Department='IT', salary_after_tax=8000)
Row(ID=3, Name='Mike', Department='IT', salary_after_tax=6000)
Row(ID=4, Name='Sara', Department='Finance', salary_after_tax=7000)
Row(ID=5, Name='David', Department='HR', salary_after_tax=5500)

#DATA SET

In [60]:
from pyspark.sql import Row
from pyspark.sql.functions import col # Import col for DataFrame expressions

rdd = sc.parallelize([
    Row(name="Alice", age=25,),
    Row(name="Bob", age=30, )])
data = spark.createDataFrame(rdd)

# Filter using DataFrame syntax (using col)
filtered_data = data.filter(col("age") > 25)

# Show the filtered data
filtered_data.select("name")
selected_df.show()

+----+
|name|
+----+
| Bob|
+----+

In [76]:
from pyspark import SparkContext, SparkConf

#  Stop any existing SparkContext
try:
    sc.stop()
except:
    pass

conf = SparkConf().setAppName("MySparkApp").setMaster("local[*]")
sc = SparkContext(conf=conf)



from pyspark.sql import Row
from pyspark import SparkContext, SparkConf

# Initialize SparkConf and SparkContext
# conf = SparkConf().setAppName("MySparkApp").setMaster("local[*]")
# sc = SparkContext(conf=conf)

from pyspark.sql import SparkSession

# Initialize SparkSession
from pyspark.sql import Row

rdd = sc.parallelize([Row(name="Alice", age=25), Row(name="Bob", age=30)])

# Correct way in PySpark
dataset = spark.createDataFrame(rdd)

# Apply filter and select
filtered = dataset.filter(dataset.age > 25).select("name")
filtered.show()

Py4JJavaError: An error occurred while calling o2117.sessionState.
: java.lang.IllegalStateException: LiveListenerBus is stopped.
	at org.apache.spark.scheduler.LiveListenerBus.addToQueue(LiveListenerBus.scala:92)
	at org.apache.spark.scheduler.LiveListenerBus.addToStatusQueue(LiveListenerBus.scala:75)
	at org.apache.spark.sql.internal.SharedState.<init>(SharedState.scala:115)
	at org.apache.spark.sql.SparkSession.$anonfun$sharedState$1(SparkSession.scala:143)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.SparkSession.sharedState$lzycompute(SparkSession.scala:143)
	at org.apache.spark.sql.SparkSession.sharedState(SparkSession.scala:142)
	at org.apache.spark.sql.SparkSession.$anonfun$sessionState$2(SparkSession.scala:162)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.SparkSession.sessionState$lzycompute(SparkSession.scala:160)
	at org.apache.spark.sql.SparkSession.sessionState(SparkSession.scala:157)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)

In [65]:
from pyspark.sql import Row
from pyspark import SparkContext, SparkConf

# Initialize SparkConf and SparkContext
# conf = SparkConf().setAppName("MySparkApp").setMaster("local[*]")
# sc = SparkContext(conf=conf)

from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder.appName("DataFrameOperations").getOrCreate()

sc = spark.SparkContext

rdd = sc.parallelize([Row(name="Alice", age=25), Row(name="Bob", age=30)])
dataset = spark.createDataset(rdd)
dataset.filter(lambda x: x.age > 25)
dataset.select("name")
selectd_df.show()

AttributeError: 'SparkSession' object has no attribute 'SparkContext'

In [ ]:
from pyspark.sql import Row
from pyspark.sql.functions import col # Import col for DataFrame expressions

rdd = sc.parallelize([
    Row(name="Alice", age=25,),
    Row(name="Bob", age=30, )])
data = spark.createDataFrame(rdd)

# Filter using DataFrame syntax (using col)
filtered_data = data.filter(col("age") > 25)

# Show the filtered data
filtered_data.select("name")
selected_df.show()

In [66]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("SparkSQLBasics").getOrCreate()

data = [
    (1, "Alice", "Sales", 3000),
    (2, "Bob", "IT", 4000),
    (3, "Cathy", "HR", 3500),
    (4, "David", "Sales", 4500),
    (5, "Eva", "IT", 4200)
]
columns = ["EmpID", "Name", "Department", "Salary"]

df = spark.createDataFrame(data, columns)
df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1|Alice|     Sales|  3000|
|    2|  Bob|        IT|  4000|
|    3|Cathy|        HR|  3500|
|    4|David|     Sales|  4500|
|    5|  Eva|        IT|  4200|
+-----+-----+----------+------+

In [71]:
df.createOrReplaceTempView("employees")

strSQL="select * from employees"
sql_result=spark.sql(strSQL)
sql_result.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1|Alice|     Sales|  3000|
|    2|  Bob|        IT|  4000|
|    3|Cathy|        HR|  3500|
|    4|David|     Sales|  4500|
|    5|  Eva|        IT|  4200|
+-----+-----+----------+------+

In [73]:
rdd=df.rdd
print("RDD Example:", rdd.map(lambda x: (x.Name, x.Salary)).collect())

RDD Example: [('Alice', 3000), ('Bob', 4000), ('Cathy', 3500), ('David', 4500), ('Eva', 4200)]

# DATA FORMAT

In [83]:
from pyspark.sql import SparkSession
# Removed explicit SparkContext creation and stopping logic
# from pyspark import SparkContext, SparkConf

# try:
#     sc.stop()
# except:
#     pass

# conf = SparkConf().setAppName("MySparkApp").setMaster("local[*]")
# sc = SparkContext(conf=conf)

data = [
    (1, "Alice", "Sales", 3000),
    (2, "Bob", "IT", 4000),
    (3, "Cathy", "HR", 3500)
]
columns = ["EmpID", "Name", "Department", "Salary"]
# Use the existing 'spark' SparkSession
df = spark.createDataFrame(data, columns)

Py4JJavaError: An error occurred while calling o2117.sessionState.
: java.lang.IllegalStateException: LiveListenerBus is stopped.
	at org.apache.spark.scheduler.LiveListenerBus.addToQueue(LiveListenerBus.scala:92)
	at org.apache.spark.scheduler.LiveListenerBus.addToStatusQueue(LiveListenerBus.scala:75)
	at org.apache.spark.sql.internal.SharedState.<init>(SharedState.scala:115)
	at org.apache.spark.sql.SparkSession.$anonfun$sharedState$1(SparkSession.scala:143)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.SparkSession.sharedState$lzycompute(SparkSession.scala:143)
	at org.apache.spark.sql.SparkSession.sharedState(SparkSession.scala:142)
	at org.apache.spark.sql.SparkSession.$anonfun$sessionState$2(SparkSession.scala:162)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.SparkSession.sessionState$lzycompute(SparkSession.scala:160)
	at org.apache.spark.sql.SparkSession.sessionState(SparkSession.scala:157)
	at jdk.internal.reflect.GeneratedMethodAccessor105.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)

In [84]:
data = [
    (1, "Alice", 3000),
    (2, "Bob", 4000)
]
columns = ["id", "name", "salary"]

df = spark.createDataFrame(data, columns)
df.show()

Py4JJavaError: An error occurred while calling o2117.sessionState.
: java.lang.IllegalStateException: LiveListenerBus is stopped.
	at org.apache.spark.scheduler.LiveListenerBus.addToQueue(LiveListenerBus.scala:92)
	at org.apache.spark.scheduler.LiveListenerBus.addToStatusQueue(LiveListenerBus.scala:75)
	at org.apache.spark.sql.internal.SharedState.<init>(SharedState.scala:115)
	at org.apache.spark.sql.SparkSession.$anonfun$sharedState$1(SparkSession.scala:143)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.SparkSession.sharedState$lzycompute(SparkSession.scala:143)
	at org.apache.spark.sql.SparkSession.sharedState(SparkSession.scala:142)
	at org.apache.spark.sql.SparkSession.$anonfun$sessionState$2(SparkSession.scala:162)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.SparkSession.sessionState$lzycompute(SparkSession.scala:160)
	at org.apache.spark.sql.SparkSession.sessionState(SparkSession.scala:157)
	at jdk.internal.reflect.GeneratedMethodAccessor105.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)

In [92]:
from pyspark.sql import SparkSession

# Recreate Spark session
spark = SparkSession.builder \
    .appName("Restarted Session") \
    .getOrCreate()

# Define data and columns again
data = [
    (1, "Alice", "Sales", 3000),
    (2, "Bob", "IT", 4000),
    (3, "Cathy", "HR", 3500)
]
columns = ["EmpID", "Name", "Department", "Salary"]
df = spark.createDataFrame(data, columns)
df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1|Alice|     Sales|  3000|
|    2|  Bob|        IT|  4000|
|    3|Cathy|        HR|  3500|
+-----+-----+----------+------+

In [93]:
df.write.mode("overwrite").json("/content/json_data")

In [94]:
!ls /content/json_data

part-00000-6a73a00e-a06a-469b-94d5-6b3df5d67c04-c000.json  _SUCCESS
part-00001-6a73a00e-a06a-469b-94d5-6b3df5d67c04-c000.json

In [110]:
!cat /content/json_data/part-00000-8c9ad97f-903c-48d4-8f08-4cf65a638dc3-c000.json

{"EmpID":1,"Name":"Alice","Department":"Sales","Salary":3000}

In [111]:
!cat /content/json_data/part-00001-8c9ad97f-903c-48d4-8f08-4cf65a638dc3-c000.json

{"EmpID":2,"Name":"Bob","Department":"IT","Salary":4000}
{"EmpID":3,"Name":"Cathy","Department":"HR","Salary":3500}

In [115]:
json_df= spark.read.json("/content/json_data/")
json_df.show()

+----------+-----+-----+------+
|Department|EmpID| Name|Salary|
+----------+-----+-----+------+
|        IT|    2|  Bob|  4000|
|        HR|    3|Cathy|  3500|
|     Sales|    1|Alice|  3000|
+----------+-----+-----+------+

In [117]:
strpath="/content/parquet_data/"
df.write.mode("overwrite").option("hearder", "true").csv(strpath)

In [118]:
csv_df = spark.read.option("header", "true").csv(strpath)
csv_df.show()

+---+-----+---+----+
|  2|  Bob| IT|4000|
+---+-----+---+----+
|  3|Cathy| HR|3500|
+---+-----+---+----+

In [98]:
data = [
    (1, "Alice", "Sales", 3000),
    (2, "Bob", "IT", 4000),
    (3, "Cathy", "HR", 3500)
]
columns = ["EmpID", "Name", "Department", "Salary"]
df = spark.createDataFrame(data, columns)
df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1|Alice|     Sales|  3000|
|    2|  Bob|        IT|  4000|
|    3|Cathy|        HR|  3500|
+-----+-----+----------+------+

In [99]:
df.write.mode("overwrite").json("/content/json_data")

In [100]:
!ls /content/json_data

part-00000-8c9ad97f-903c-48d4-8f08-4cf65a638dc3-c000.json  _SUCCESS
part-00001-8c9ad97f-903c-48d4-8f08-4cf65a638dc3-c000.json

In [101]:
json_df= spark.read.json("/content/json_data/")
json_df.show()

+----------+-----+-----+------+
|Department|EmpID| Name|Salary|
+----------+-----+-----+------+
|        IT|    2|  Bob|  4000|
|        HR|    3|Cathy|  3500|
|     Sales|    1|Alice|  3000|
+----------+-----+-----+------+

In [102]:
strpath="/content/parquet_data"
df.write.mode("overwrite").option("hearder", "true").csv(strpath)

In [103]:
csv_df = spark.read.option("header", "true").csv(strpath)
csv_df.show()

+---+-----+---+----+
|  2|  Bob| IT|4000|
+---+-----+---+----+
|  3|Cathy| HR|3500|
+---+-----+---+----+