<a href="https://colab.research.google.com/github/DileepNalle78/pyspark__DileepNalle/blob/main/sales.csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LINUX BASIC

In [10]:
cat /etc/os-release

PRETTY_NAME="Ubuntu 22.04.4 LTS"
NAME="Ubuntu"
VERSION_ID="22.04"
VERSION="22.04.4 LTS (Jammy Jellyfish)"
VERSION_CODENAME=jammy
ID=ubuntu
ID_LIKE=debian
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy"
UBUNTU_CODENAME=jammy

In [11]:
!uname -a

Linux 6d3647f0c437 6.1.123+ #1 SMP PREEMPT_DYNAMIC Sun Mar 30 16:01:29 UTC 2025 x86_64 x86_64 x86_64 GNU/Linux

In [12]:
!whoami

root

In [13]:
!pwd

/content

## PySpark Basics

In [15]:
! pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [19]:
!pip show pyspark

Name: pyspark
Version: 3.5.1
Summary: Apache Spark Python API
Home-page: https://github.com/apache/spark/tree/master/python
Author: Spark Developers
Author-email: dev@spark.apache.org
License: http://www.apache.org/licenses/LICENSE-2.0
Location: /usr/local/lib/python3.11/dist-packages
Requires: py4j
Required-by: dataproc-spark-connect

In [22]:
from pyspark.sql import SparkSession

In [23]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [25]:
# create DataFrame
data = [("HEllo","world")]
columns = ["world1","world2"]

df = spark.createDataFrame

In [30]:
df = spark

data frame

In [38]:
columns = ["Name","Department","Salary"]
data = [
    ("John", "Sales", 3000),
    ("Jane", "Finance", 4000),
    ("Mike", "Sales", 3500),
    ("Alice", "Finance", 3800),
    ("Bob", "IT", 4500)
]

df=spark.createDataFrame(data, columns)
df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [45]:
# Filter: employees with salary > 3500
df_filtered = df.filter(df.Salary > 3500)
df_filtered.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| Jane|   Finance|  4000|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [44]:
df_grouped = df.groupBy("Department").avg("salary")
df_grouped.show()

+----------+-----------+
|Department|avg(salary)|
+----------+-----------+
|     Sales|     3250.0|
|   Finance|     3900.0|
|        IT|     4500.0|
+----------+-----------+

In [46]:
# Add a new comumn: salary with new bones (10%)
from pyspark.sql.functions import  col
exp=col("Salary") * 1.1
df_with_bonus = df.withColumn("Salary_10%_Bonus",exp)
df_with_bonus.show()

+-----+----------+------+------------------+
| Name|Department|Salary|  Salary_10%_Bonus|
+-----+----------+------+------------------+
| John|     Sales|  3000|3300.0000000000005|
| Jane|   Finance|  4000|            4400.0|
| Mike|     Sales|  3500|3850.0000000000005|
|Alice|   Finance|  3800|            4180.0|
|  Bob|        IT|  4500|            4950.0|
+-----+----------+------+------------------+

In [48]:
from pyspark.sql.functions import col,upper, lower, concat_ws,length,when

df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [50]:
df_upper = df.withColumn("Name_upper",upper(col("Name")))
df_lower = df.withColumn("Name_lower", lower(col("Name")))
df_upper.show()
df_lower.show()

+-----+----------+------+----------+
| Name|Department|Salary|Name_upper|
+-----+----------+------+----------+
| John|     Sales|  3000|      JOHN|
| Jane|   Finance|  4000|      JANE|
| Mike|     Sales|  3500|      MIKE|
|Alice|   Finance|  3800|     ALICE|
|  Bob|        IT|  4500|       BOB|
+-----+----------+------+----------+

+-----+----------+------+----------+
| Name|Department|Salary|Name_lower|
+-----+----------+------+----------+
| John|     Sales|  3000|      john|
| Jane|   Finance|  4000|      jane|
| Mike|     Sales|  3500|      mike|
|Alice|   Finance|  3800|     alice|
|  Bob|        IT|  4500|       bob|
+-----+----------+------+----------+

In [52]:
df_concat = df.withColumn("Full_length_Name",concat_ws(" ",col("Name"),col("Department")))
df_concat.show()

+-----+----------+------+----------------+
| Name|Department|Salary|Full_length_Name|
+-----+----------+------+----------------+
| John|     Sales|  3000|      John Sales|
| Jane|   Finance|  4000|    Jane Finance|
| Mike|     Sales|  3500|      Mike Sales|
|Alice|   Finance|  3800|   Alice Finance|
|  Bob|        IT|  4500|          Bob IT|
+-----+----------+------+----------------+

In [51]:
# String leangth of Names in New DF
df_length = df.withColumn("Name_length",length(col("Name")))
df_length.show()

+-----+----------+------+-----------+
| Name|Department|Salary|Name_length|
+-----+----------+------+-----------+
| John|     Sales|  3000|          4|
| Jane|   Finance|  4000|          4|
| Mike|     Sales|  3500|          4|
|Alice|   Finance|  3800|          5|
|  Bob|        IT|  4500|          3|
+-----+----------+------+-----------+

In [56]:
# Rename the column (Salary --> Base_Salary)
df_renamed = df.withColumnRenamed("Salary","Base_salary")
df_renamed.show()

+-----+----------+-----------+
| Name|Department|Base_salary|
+-----+----------+-----------+
| John|     Sales|       3000|
| Jane|   Finance|       4000|
| Mike|     Sales|       3500|
|Alice|   Finance|       3800|
|  Bob|        IT|       4500|
+-----+----------+-----------+

# Advance

In [1]:
from pyspark.sql import SparkSession
spark =SparkSession.builder.appName("Basics").getOrCreate()
columns = ["Name","Department","Salary"]
data = [
    ("John", "Sales", 3000),
    ("Jane", "Finance", 4000),
    ("Mike", "Sales", 3500),
    ("Alice", "Finance", 3800),
    ("Bob", "IT", 4500)
]

df = spark.createDataFrame(data, columns)

df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [2]:
df.groupBy("Department").agg({"Salary":"avg"}).show()

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3250.0|
|   Finance|     3900.0|
|        IT|     4500.0|
+----------+-----------+

In [5]:
df.groupBy("Department").avg("Salary").show()

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3250.0|
|   Finance|     3900.0|
|        IT|     4500.0|
+----------+-----------+

In [6]:
df.groupBy("Department").agg({"Salary":"avg", "Salary":"min"}).show()

+----------+-----------+
|Department|min(Salary)|
+----------+-----------+
|     Sales|       3000|
|   Finance|       3800|
|        IT|       4500|
+----------+-----------+

In [19]:
from pyspark.sql import functions as F

df.groupBy("Department") \
   .agg(F.avg("Salary").alias("Average_Salary"),
        F.max("Salary").alias("Max_Salary"),
        F.min("Salary").alias("Min_Salary")) \
   .show()

+----------+--------------+----------+----------+
|Department|Average_Salary|Max_Salary|Min_Salary|
+----------+--------------+----------+----------+
|     Sales|        3250.0|      3500|      3000|
|   Finance|        3900.0|      4000|      3800|
|        IT|        4500.0|      4500|      4500|
+----------+--------------+----------+----------+

In [22]:
# Create another DataFrame for department info
dept_data = [
    ("Sales", "Building A"),
    ("Finance", "Building B"),
    ("IT", "Building C")
]
dept_columns = ["Department", "Location"]

dept_df=spark.createDataFrame(dept_data, dept_columns)
dept_df.show()

+----------+----------+
|Department|  Location|
+----------+----------+
|     Sales|Building A|
|   Finance|Building B|
|        IT|Building C|
+----------+----------+

In [23]:
# Create another DataFrame for department info
dept_data = [
    ("Sales", "Building A"),
    ("Finance", "Building B"),
    ("IT", "Building C")
]
dept_columns = ["Department", "Location"]

dept_df=spark.createDataFrame(dept_data, dept_columns)
dept_df.show()

+----------+----------+
|Department|  Location|
+----------+----------+
|     Sales|Building A|
|   Finance|Building B|
|        IT|Building C|
+----------+----------+

In [25]:
dept_df = spark.createDataFrame(dept_data, dept_columns)

joined_df = df.join(dept_df, on="Department", how="inner")
joined_df.show()

+----------+-----+------+----------+
|Department| Name|Salary|  Location|
+----------+-----+------+----------+
|   Finance| Jane|  4000|Building B|
|   Finance|Alice|  3800|Building B|
|        IT|  Bob|  4500|Building C|
|     Sales| John|  3000|Building A|
|     Sales| Mike|  3500|Building A|
+----------+-----+------+----------+

In [26]:
dept_df.show()

+----------+----------+
|Department|  Location|
+----------+----------+
|     Sales|Building A|
|   Finance|Building B|
|        IT|Building C|
+----------+----------+

In [27]:
# Employee DataFrame
emp_data = [
    (1, "John", "Sales", 3000),
    (2, "Jane", "Finance", 4000),
    (3, "Mike", "Sales", 3500),
    (4, "Alice", "HR", 3800),
    (5, "Bob", "IT", 4500),
    (6, "Sam", "Support", 3200)
]
emp_cols = ["EmpID", "Name", "Department", "Salary"]
emp_df = spark.createDataFrame(emp_data, emp_cols)

# Department DataFrame
dept_data = [
    ("Sales", "Building A"),
    ("Finance", "Building B"),
    ("IT", "Building C"),
    ("Admin", "Building D")
]
dept_cols = ["Department", "Location"]
dept_df = spark.createDataFrame(dept_data, dept_cols)

# Display both
emp_df.show()
dept_df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1| John|     Sales|  3000|
|    2| Jane|   Finance|  4000|
|    3| Mike|     Sales|  3500|
|    4|Alice|        HR|  3800|
|    5|  Bob|        IT|  4500|
|    6|  Sam|   Support|  3200|
+-----+-----+----------+------+

+----------+----------+
|Department|  Location|
+----------+----------+
|     Sales|Building A|
|   Finance|Building B|
|        IT|Building C|
|     Admin|Building D|
+----------+----------+

In [28]:
emp_df.join(dept_df, on="Department", how="inner").show()

+----------+-----+----+------+----------+
|Department|EmpID|Name|Salary|  Location|
+----------+-----+----+------+----------+
|   Finance|    2|Jane|  4000|Building B|
|        IT|    5| Bob|  4500|Building C|
|     Sales|    1|John|  3000|Building A|
|     Sales|    3|Mike|  3500|Building A|
+----------+-----+----+------+----------+

In [29]:
# left join
emp_df.join(dept_df, on="Department", how="left").show()

+----------+-----+-----+------+----------+
|Department|EmpID| Name|Salary|  Location|
+----------+-----+-----+------+----------+
|     Sales|    1| John|  3000|Building A|
|     Sales|    3| Mike|  3500|Building A|
|   Finance|    2| Jane|  4000|Building B|
|        HR|    4|Alice|  3800|      NULL|
|        IT|    5|  Bob|  4500|Building C|
|   Support|    6|  Sam|  3200|      NULL|
+----------+-----+-----+------+----------+

In [30]:
emp_df.join(dept_df, on="Department", how="right").show()

+----------+-----+----+------+----------+
|Department|EmpID|Name|Salary|  Location|
+----------+-----+----+------+----------+
|     Sales|    3|Mike|  3500|Building A|
|     Sales|    1|John|  3000|Building A|
|   Finance|    2|Jane|  4000|Building B|
|     Admin| NULL|NULL|  NULL|Building D|
|        IT|    5| Bob|  4500|Building C|
+----------+-----+----+------+----------+

In [32]:
emp_df.join(dept_df, on="Department", how="full").show()

+----------+-----+-----+------+----------+
|Department|EmpID| Name|Salary|  Location|
+----------+-----+-----+------+----------+
|     Admin| NULL| NULL|  NULL|Building D|
|   Finance|    2| Jane|  4000|Building B|
|        HR|    4|Alice|  3800|      NULL|
|        IT|    5|  Bob|  4500|Building C|
|     Sales|    1| John|  3000|Building A|
|     Sales|    3| Mike|  3500|Building A|
|   Support|    6|  Sam|  3200|      NULL|
+----------+-----+-----+------+----------+

# SALES.csv

In [66]:
# Assignment

from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, DoubleType, StringType, TimestampType
from pyspark.sql import functions as F

spark = SparkSession.builder.appName("SalesData").getOrCreate()

# Define schema
schema = StructType([
    StructField("sale_id", IntegerType(), True),
    StructField("product_id", IntegerType(), True),
    StructField("customer_id", IntegerType(), True),
    StructField("sale_date", StringType(), True),  # or TimestampType()
    StructField("quantity", IntegerType(), True),
    StructField("price", DoubleType(), True)
])

# Create data
data = [
    (1001, 101, 501, "2025-07-10 08:23:00", 3, 25.5),
    (1002, 102, 502, "2025-07-11 09:45:00", 2, 15.0),
    (1003, 103, 503, "2025-07-12 10:15:00", 1, 30.0),
    (1004, 101, 504, "2025-07-13 12:20:00", 5, 25.5),
    (1005, 105, 505, "2025-07-14 14:35:00", 10, 45.0),
    (1006, 102, 506, "2025-07-15 16:00:00", 4, 15.0),
]

df = spark.createDataFrame(data, schema=schema)
df = df.withColumn("sale_date", F.to_timestamp("sale_date"))
df.show()

+-------+----------+-----------+-------------------+--------+-----+
|sale_id|product_id|customer_id|          sale_date|quantity|price|
+-------+----------+-----------+-------------------+--------+-----+
|   1001|       101|        501|2025-07-10 08:23:00|       3| 25.5|
|   1002|       102|        502|2025-07-11 09:45:00|       2| 15.0|
|   1003|       103|        503|2025-07-12 10:15:00|       1| 30.0|
|   1004|       101|        504|2025-07-13 12:20:00|       5| 25.5|
|   1005|       105|        505|2025-07-14 14:35:00|      10| 45.0|
|   1006|       102|        506|2025-07-15 16:00:00|       4| 15.0|
+-------+----------+-----------+-------------------+--------+-----+

In [67]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# Define schema for products
product_schema = StructType([
    StructField("product_id", IntegerType(), True),
    StructField("product_name", StringType(), True),
    StructField("category", StringType(), True),
])

# Create product data
products_data = [
    (101, "Widget A", "Gadgets"),
    (102, "Widget B", "Gadgets"),
    (103, "Widget C", "Electronics"),
    (104, "Widget D", "Electronics"),
    (105, "Widget E", "Home & Living"),
]

# Create DataFrame
df_products = spark.createDataFrame(products_data, schema=product_schema)
df_products.show()

+----------+------------+-------------+
|product_id|product_name|     category|
+----------+------------+-------------+
|       101|    Widget A|      Gadgets|
|       102|    Widget B|      Gadgets|
|       103|    Widget C|  Electronics|
|       104|    Widget D|  Electronics|
|       105|    Widget E|Home & Living|
+----------+------------+-------------+

In [68]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, TimestampType

# Define schema
customer_schema = StructType([
    StructField("customer_id", IntegerType(), True),
    StructField("customer_name", StringType(), True),
    StructField("email", StringType(), True),
    StructField("join_date", StringType(), True),  # or use TimestampType
])

# Create data
customer_data = [
    (501, "Alice", "alice@example.com", "2025-05-20 10:10:00"),
    (502, "Bob", "bob@example.com", "2025-06-15 14:00:00"),
    (503, "Charlie", "charlie@example.com", "2025-04-05 09:50:00"),
    (504, "David", "david@example.com", "2025-07-01 12:25:00"),
    (505, "Emma", "emma@example.com", "2025-07-10 15:30:00"),
    (506, "Frank", "frank@example.com", "2025-03-23 17:00:00"),
]

# Create DataFrame
df_customers = spark.createDataFrame(customer_data, schema=customer_schema) \
    .withColumn("join_date", F.to_timestamp("join_date"))

df_customers.show()

+-----------+-------------+-------------------+-------------------+
|customer_id|customer_name|              email|          join_date|
+-----------+-------------+-------------------+-------------------+
|        501|        Alice|  alice@example.com|2025-05-20 10:10:00|
|        502|          Bob|    bob@example.com|2025-06-15 14:00:00|
|        503|      Charlie|charlie@example.com|2025-04-05 09:50:00|
|        504|        David|  david@example.com|2025-07-01 12:25:00|
|        505|         Emma|   emma@example.com|2025-07-10 15:30:00|
|        506|        Frank|  frank@example.com|2025-03-23 17:00:00|
+-----------+-------------+-------------------+-------------------+

In [69]:
# df contains sales data with: product_id, quantity, price
from pyspark.sql import functions as F

df.withColumn("revenue", F.col("quantity") * F.col("price")) \
  .groupBy("product_id") \
  .agg(F.sum("revenue").alias("total_revenue")) \
  .orderBy(F.desc("total_revenue")) \
  .show()

+----------+-------------+
|product_id|total_revenue|
+----------+-------------+
|       105|        450.0|
|       101|        204.0|
|       102|         90.0|
|       103|         30.0|
+----------+-------------+

In [70]:
from pyspark.sql import functions as F

# Option 1: Use customer_id only
df.groupBy("customer_id") \
  .agg(F.sum("quantity").alias("total_quantity")) \
  .orderBy(F.desc("total_quantity")) \
  .show()

+-----------+--------------+
|customer_id|total_quantity|
+-----------+--------------+
|        505|            10|
|        504|             5|
|        506|             4|
|        501|             3|
|        502|             2|
|        503|             1|
+-----------+--------------+

In [71]:
# Join sales with products
df_joined = df.join(df_products, on="product_id", how="inner")

# Then join with customers
df_full = df_joined.join(df_customers, on="customer_id", how="inner")

In [72]:
from pyspark.sql import functions as F

df_full.groupBy("customer_name") \
       .agg(F.sum("quantity").alias("total_quantity")) \
       .orderBy(F.desc("total_quantity")) \
       .show()

+-------------+--------------+
|customer_name|total_quantity|
+-------------+--------------+
|         Emma|            10|
|        David|             5|
|        Frank|             4|
|        Alice|             3|
|          Bob|             2|
|      Charlie|             1|
+-------------+--------------+

In [73]:
from pyspark.sql import functions as F

# Make sure df_full includes: customer_id, customer_name, quantity, price
df_full.withColumn("revenue", F.col("quantity") * F.col("price")) \
       .groupBy("customer_name") \
       .agg(F.avg("revenue").alias("average_revenue")) \
       .orderBy(F.desc("average_revenue")) \
       .show()

+-------------+---------------+
|customer_name|average_revenue|
+-------------+---------------+
|         Emma|          450.0|
|        David|          127.5|
|        Alice|           76.5|
|        Frank|           60.0|
|      Charlie|           30.0|
|          Bob|           30.0|
+-------------+---------------+

In [74]:
from pyspark.sql import functions as F

# Step 1: Add a 'revenue' column
df_with_revenue = df.withColumn("revenue", F.col("quantity") * F.col("price"))

# Step 2: Extract year and month from 'sale_date'
df_monthly = df_with_revenue.withColumn("year_month", F.date_format("sale_date", "yyyy-MM"))

# Step 3: Group by 'year_month' and sum revenue
df_monthly.groupBy("year_month") \
    .agg(F.round(F.sum("revenue"), 2).alias("total_revenue")) \
    .orderBy("year_month") \
    .show()

+----------+-------------+
|year_month|total_revenue|
+----------+-------------+
|   2025-07|        774.0|
+----------+-------------+

In [75]:
from pyspark.sql import functions as F

df_sales_by_category = df.join(df_products, on="product_id", how="inner") \
    .groupBy("category") \
    .agg(F.count("*").alias("total_sales")) \
    .orderBy(F.desc("total_sales"))

df_sales_by_category.show()

+-------------+-----------+
|     category|total_sales|
+-------------+-----------+
|      Gadgets|          4|
|  Electronics|          1|
|Home & Living|          1|
+-------------+-----------+

In [76]:
from pyspark.sql import functions as F

# Step 1: Calculate revenue per row
df_revenue = df.withColumn("revenue", F.col("quantity") * F.col("price"))

# Step 2: Join with products to get product names
df_with_names = df_revenue.join(df_products, on="product_id", how="inner")

# Step 3: Group by product and sum revenue
df_top_products = df_with_names.groupBy("product_name") \
    .agg(F.round(F.sum("revenue"), 2).alias("total_revenue")) \
    .orderBy(F.desc("total_revenue")) \
    .limit(3)

# Step 4: Show result
df_top_products.show()

+------------+-------------+
|product_name|total_revenue|
+------------+-------------+
|    Widget E|        450.0|
|    Widget A|        204.0|
|    Widget B|         90.0|
+------------+-------------+

In [77]:
# joins

# Join sales_data with product_data on product_id
df_sales_with_products = df.join(df_products, on="product_id", how="inner")

# Select the relevant columns
df_sales_with_products.select(
    "sale_id",
    "product_id",
    "product_name",
    "category",
    "customer_id",
    "sale_date",
    "quantity",
    "price"
).show(truncate=False)

+-------+----------+------------+-------------+-----------+-------------------+--------+-----+
|sale_id|product_id|product_name|category     |customer_id|sale_date          |quantity|price|
+-------+----------+------------+-------------+-----------+-------------------+--------+-----+
|1001   |101       |Widget A    |Gadgets      |501        |2025-07-10 08:23:00|3       |25.5 |
|1004   |101       |Widget A    |Gadgets      |504        |2025-07-13 12:20:00|5       |25.5 |
|1002   |102       |Widget B    |Gadgets      |502        |2025-07-11 09:45:00|2       |15.0 |
|1006   |102       |Widget B    |Gadgets      |506        |2025-07-15 16:00:00|4       |15.0 |
|1003   |103       |Widget C    |Electronics  |503        |2025-07-12 10:15:00|1       |30.0 |
|1005   |105       |Widget E    |Home & Living|505        |2025-07-14 14:35:00|10      |45.0 |
+-------+----------+------------+-------------+-----------+-------------------+--------+-----+

In [78]:
# Join sales with customer data on customer_id
df_sales_with_customers = df.join(df_customers, on="customer_id", how="inner")

# Select columns for detailed sales info with customer name and email
df_sales_with_customers.select(
    "sale_id",
    "customer_id",
    "customer_name",
    "email",
    "sale_date",
    "product_id",
    "quantity",
    "price"
).show(truncate=False)

+-------+-----------+-------------+-------------------+-------------------+----------+--------+-----+
|sale_id|customer_id|customer_name|email              |sale_date          |product_id|quantity|price|
+-------+-----------+-------------+-------------------+-------------------+----------+--------+-----+
|1001   |501        |Alice        |alice@example.com  |2025-07-10 08:23:00|101       |3       |25.5 |
|1002   |502        |Bob          |bob@example.com    |2025-07-11 09:45:00|102       |2       |15.0 |
|1003   |503        |Charlie      |charlie@example.com|2025-07-12 10:15:00|103       |1       |30.0 |
|1004   |504        |David        |david@example.com  |2025-07-13 12:20:00|101       |5       |25.5 |
|1005   |505        |Emma         |emma@example.com   |2025-07-14 14:35:00|105       |10      |45.0 |
|1006   |506        |Frank        |frank@example.com  |2025-07-15 16:00:00|102       |4       |15.0 |
+-------+-----------+-------------+-------------------+-------------------+----------+--------+-----+

In [79]:
from pyspark.sql import functions as F

# Step 1: Join sales and product data
df_sales_with_category = df.join(df_products, on="product_id", how="inner")

# Step 2: Filter for category 'Gadgets'
df_gadgets_sales = df_sales_with_category.filter(F.col("category") == "Gadgets")

# Step 3: Show selected fields
df_gadgets_sales.select(
    "sale_id", "product_id", "product_name", "category",
    "customer_id", "sale_date", "quantity", "price"
).show(truncate=False)

+-------+----------+------------+--------+-----------+-------------------+--------+-----+
|sale_id|product_id|product_name|category|customer_id|sale_date          |quantity|price|
+-------+----------+------------+--------+-----------+-------------------+--------+-----+
|1001   |101       |Widget A    |Gadgets |501        |2025-07-10 08:23:00|3       |25.5 |
|1004   |101       |Widget A    |Gadgets |504        |2025-07-13 12:20:00|5       |25.5 |
|1002   |102       |Widget B    |Gadgets |502        |2025-07-11 09:45:00|2       |15.0 |
|1006   |102       |Widget B    |Gadgets |506        |2025-07-15 16:00:00|4       |15.0 |
+-------+----------+------------+--------+-----------+-------------------+--------+-----+

In [80]:
# Perform LEFT JOIN between sales and products
df_sales_left_join = df.join(df_products, on="product_id", how="left")

# Show key fields, including nulls if product info is missing
df_sales_left_join.select(
    "sale_id",
    "product_id",
    "product_name",
    "category",
    "customer_id",
    "sale_date",
    "quantity",
    "price"
).show(truncate=False)

+-------+----------+------------+-------------+-----------+-------------------+--------+-----+
|sale_id|product_id|product_name|category     |customer_id|sale_date          |quantity|price|
+-------+----------+------------+-------------+-----------+-------------------+--------+-----+
|1001   |101       |Widget A    |Gadgets      |501        |2025-07-10 08:23:00|3       |25.5 |
|1003   |103       |Widget C    |Electronics  |503        |2025-07-12 10:15:00|1       |30.0 |
|1002   |102       |Widget B    |Gadgets      |502        |2025-07-11 09:45:00|2       |15.0 |
|1004   |101       |Widget A    |Gadgets      |504        |2025-07-13 12:20:00|5       |25.5 |
|1006   |102       |Widget B    |Gadgets      |506        |2025-07-15 16:00:00|4       |15.0 |
|1005   |105       |Widget E    |Home & Living|505        |2025-07-14 14:35:00|10      |45.0 |
+-------+----------+------------+-------------+-----------+-------------------+--------+-----+

In [81]:
from pyspark.sql.functions import col

# Alias the sales data for self-join
sales1 = df.alias("s1")
sales2 = df.alias("s2")

# Perform the self-join on product_id where sale_dates are different
df_self_joined = sales1.join(
    sales2,
    (col("s1.product_id") == col("s2.product_id")) &
    (col("s1.sale_date") < col("s2.sale_date")),  # avoid same and duplicate pairs
    how="inner"
)

# Select relevant comparison fields
df_self_joined.select(
    col("s1.product_id"),
    col("s1.sale_id").alias("sale_id_1"),
    col("s1.sale_date").alias("sale_date_1"),
    col("s1.quantity").alias("quantity_1"),
    col("s2.sale_id").alias("sale_id_2"),
    col("s2.sale_date").alias("sale_date_2"),
    col("s2.quantity").alias("quantity_2")
).orderBy("product_id", "sale_date_1").show(truncate=False)

+----------+---------+-------------------+----------+---------+-------------------+----------+
|product_id|sale_id_1|sale_date_1        |quantity_1|sale_id_2|sale_date_2        |quantity_2|
+----------+---------+-------------------+----------+---------+-------------------+----------+
|101       |1001     |2025-07-10 08:23:00|3         |1004     |2025-07-13 12:20:00|5         |
|102       |1002     |2025-07-11 09:45:00|2         |1006     |2025-07-15 16:00:00|4         |
+----------+---------+-------------------+----------+---------+-------------------+----------+

In [82]:
# Perform full outer join on product_id
df_full_outer = df.join(df_products, on="product_id", how="outer")

# Select relevant fields
df_full_outer.select(
    "product_id",
    "product_name",
    "category",
    "sale_id",
    "customer_id",
    "sale_date",
    "quantity",
    "price"
).orderBy("product_id").show(truncate=False)

+----------+------------+-------------+-------+-----------+-------------------+--------+-----+
|product_id|product_name|category     |sale_id|customer_id|sale_date          |quantity|price|
+----------+------------+-------------+-------+-----------+-------------------+--------+-----+
|101       |Widget A    |Gadgets      |1001   |501        |2025-07-10 08:23:00|3       |25.5 |
|101       |Widget A    |Gadgets      |1004   |504        |2025-07-13 12:20:00|5       |25.5 |
|102       |Widget B    |Gadgets      |1002   |502        |2025-07-11 09:45:00|2       |15.0 |
|102       |Widget B    |Gadgets      |1006   |506        |2025-07-15 16:00:00|4       |15.0 |
|103       |Widget C    |Electronics  |1003   |503        |2025-07-12 10:15:00|1       |30.0 |
|104       |Widget D    |Electronics  |NULL   |NULL       |NULL               |NULL    |NULL |
|105       |Widget E    |Home & Living|1005   |505        |2025-07-14 14:35:00|10      |45.0 |
+----------+------------+-------------+-------+-----------+-------------------+--------+-----+

In [83]:
from pyspark.sql.functions import col

# Step 1: Join sales with customers
df_sales_customers = df.join(df_customers, on="customer_id", how="inner")

# Step 2: Join the above result with products
df_complete_sales = df_sales_customers.join(df_products, on="product_id", how="inner")

# Step 3: Select and display relevant columns
df_complete_sales.select(
    "sale_id",
    "sale_date",
    "product_id",
    "product_name",
    "category",
    "customer_id",
    "customer_name",
    "email",
    "quantity",
    "price"
).orderBy("sale_date").show(truncate=False)

+-------+-------------------+----------+------------+-------------+-----------+-------------+-------------------+--------+-----+
|sale_id|sale_date          |product_id|product_name|category     |customer_id|customer_name|email              |quantity|price|
+-------+-------------------+----------+------------+-------------+-----------+-------------+-------------------+--------+-----+
|1001   |2025-07-10 08:23:00|101       |Widget A    |Gadgets      |501        |Alice        |alice@example.com  |3       |25.5 |
|1002   |2025-07-11 09:45:00|102       |Widget B    |Gadgets      |502        |Bob          |bob@example.com    |2       |15.0 |
|1003   |2025-07-12 10:15:00|103       |Widget C    |Electronics  |503        |Charlie      |charlie@example.com|1       |30.0 |
|1004   |2025-07-13 12:20:00|101       |Widget A    |Gadgets      |504        |David        |david@example.com  |5       |25.5 |
|1005   |2025-07-14 14:35:00|105       |Widget E    |Home & Living|505        |Emma         |emma@example.com   |10      |45.0 |
|1006   |2025-07-15 16:00:00|102       |Widget B    |Gadgets      |506        |Frank        |frank@example.com  |4       |15.0 |
+-------+-------------------+----------+------------+-------------+-----------+-------------+-------------------+--------+-----+

In [84]:
#Additional Transformations:

from pyspark.sql.functions import col, to_timestamp

# Ensure sale_date is in timestamp format (if it's a string)
df_filtered = df.withColumn("sale_date", to_timestamp("sale_date"))

# Filter rows between July 10 and July 15, 2025 (inclusive)
df_sales_range = df_filtered.filter(
    col("sale_date").between("2025-07-10", "2025-07-15")
)

# Show result
df_sales_range.select("sale_id", "sale_date", "product_id", "quantity", "price").show(truncate=False)

+-------+-------------------+----------+--------+-----+
|sale_id|sale_date          |product_id|quantity|price|
+-------+-------------------+----------+--------+-----+
|1001   |2025-07-10 08:23:00|101       |3       |25.5 |
|1002   |2025-07-11 09:45:00|102       |2       |15.0 |
|1003   |2025-07-12 10:15:00|103       |1       |30.0 |
|1004   |2025-07-13 12:20:00|101       |5       |25.5 |
|1005   |2025-07-14 14:35:00|105       |10      |45.0 |
+-------+-------------------+----------+--------+-----+

In [85]:
from pyspark.sql import functions as F

# Step 1: Calculate revenue per transaction
df_with_revenue = df.withColumn("revenue", F.col("quantity") * F.col("price"))

# Step 2: Join with customer data to get names
df_with_customers = df_with_revenue.join(df_customers, on="customer_id", how="inner")

# Step 3: Aggregate total revenue per customer
df_customer_spending = df_with_customers.groupBy("customer_id", "customer_name") \
    .agg(F.round(F.sum("revenue"), 2).alias("total_spent"))

# Step 4: Order and limit to top 5
df_top_5_customers = df_customer_spending.orderBy(F.desc("total_spent")).limit(5)

# Step 5: Show result
df_top_5_customers.show()

+-----------+-------------+-----------+
|customer_id|customer_name|total_spent|
+-----------+-------------+-----------+
|        505|         Emma|      450.0|
|        504|        David|      127.5|
|        501|        Alice|       76.5|
|        506|        Frank|       60.0|
|        502|          Bob|       30.0|
+-----------+-------------+-----------+

In [86]:
from pyspark.sql import functions as F
from pyspark.sql.functions import when

# Step 1: Compute revenue per transaction
df_with_revenue = df.withColumn("revenue", F.col("quantity") * F.col("price"))

# Step 2: Join with customer data
df_with_customers = df_with_revenue.join(df_customers, on="customer_id", how="inner")

# Step 3: Total spending per customer
df_total_spending = df_with_customers.groupBy("customer_id", "customer_name") \
    .agg(F.round(F.sum("revenue"), 2).alias("total_spent"))

# Step 4: Categorize into spending groups
df_segmented = df_total_spending.withColumn(
    "spending_category",
    when(F.col("total_spent") <= 100, "Low Spender")
    .when((F.col("total_spent") > 100) & (F.col("total_spent") <= 300), "Medium Spender")
    .otherwise("High Spender")
)

# Step 5: Show the result
df_segmented.orderBy(F.desc("total_spent")).show()

+-----------+-------------+-----------+-----------------+
|customer_id|customer_name|total_spent|spending_category|
+-----------+-------------+-----------+-----------------+
|        505|         Emma|      450.0|     High Spender|
|        504|        David|      127.5|   Medium Spender|
|        501|        Alice|       76.5|      Low Spender|
|        506|        Frank|       60.0|      Low Spender|
|        502|          Bob|       30.0|      Low Spender|
|        503|      Charlie|       30.0|      Low Spender|
+-----------+-------------+-----------+-----------------+

In [87]:
from pyspark.sql.functions import min, max, to_timestamp

# Ensure sale_date is timestamp
df_sales = df.withColumn("sale_date", to_timestamp("sale_date"))

# Join with customer names (optional, for readability)
df_with_customers = df_sales.join(df_customers, on="customer_id", how="inner")

# Group by customer and find first and last purchase dates
df_purchase_dates = df_with_customers.groupBy("customer_id", "customer_name") \
    .agg(
        min("sale_date").alias("first_purchase"),
        max("sale_date").alias("last_purchase")
    ) \
    .orderBy("customer_id")

# Show result
df_purchase_dates.show(truncate=False)

+-----------+-------------+-------------------+-------------------+
|customer_id|customer_name|first_purchase     |last_purchase      |
+-----------+-------------+-------------------+-------------------+
|501        |Alice        |2025-07-10 08:23:00|2025-07-10 08:23:00|
|502        |Bob          |2025-07-11 09:45:00|2025-07-11 09:45:00|
|503        |Charlie      |2025-07-12 10:15:00|2025-07-12 10:15:00|
|504        |David        |2025-07-13 12:20:00|2025-07-13 12:20:00|
|505        |Emma         |2025-07-14 14:35:00|2025-07-14 14:35:00|
|506        |Frank        |2025-07-15 16:00:00|2025-07-15 16:00:00|
+-----------+-------------+-------------------+-------------------+

In [88]:
from pyspark.sql.functions import max, to_timestamp, current_date, datediff

# Ensure sale_date is timestamp
df_sales = df.withColumn("sale_date", to_timestamp("sale_date"))

# Step 1: Get last purchase date per customer
df_last_purchase = df_sales.groupBy("customer_id") \
    .agg(max("sale_date").alias("last_purchase"))

# Step 2: Join with customer info
df_customer_last = df_last_purchase.join(df_customers, on="customer_id", how="inner")

# Step 3: Filter customers where last purchase was more than 30 days ago
df_inactive_customers = df_customer_last.filter(
    datediff(current_date(), "last_purchase") > 30
)

# Step 4: Show result
df_inactive_customers.select("customer_id", "customer_name", "email", "last_purchase").show(truncate=False)

+-----------+-------------+-----+-------------+
|customer_id|customer_name|email|last_purchase|
+-----------+-------------+-----+-------------+
+-----------+-------------+-----+-------------+